<?php

?>
<div class="janela">
    <div class="barra-titulo">Gerenciar Cache</div>
    <?php echo $this->getAlert($this->_ctrl);?>
    <div class="formulario">
        <fieldset>
            <legend>Limpeza de arquivos</legend>
            <form action="" method="get">
                <input type="submit" value="GERAL" name="flush_cache" class="botao input-button"/>
                |
                <input type="submit" value="CSS" name="flush_cache" class="botao input-button"/>
                |
                <input type="submit" value="LOG" name="flush_cache" class="botao input-button"/>
            </form>
        </fieldset>
    </div>
</div>