<?php
# tela inicial do dashboard
echo $this->getAlert($this->_ctrl);
//resumos
$cache = Cylix_Cache::me();
$name = 'resumo-dashboard';
$time = (ENV=='local') ? 1 : 60;
$cache->lifetime($time);
$cache->type(Cylix_Cache::TYPE_QUERY);
if($cache->isValid($name)){
	$resumos = $cache->get($name);
}else{
	$resumos=array();
	$resumos['inscritos'] = InscricoesModel::me()->inscritos();
	$resumos['comentarios'] = ComentariosModel::me()->pendentes();
	$cache->set($name, $resumos);
}
?>
<div class="janela">
    <div class="barra-titulo">Resumos - Dashboard</div>
<?php echo $this->getAlert($this->_ctrl); ?>
	<div class="janela-interior">
		<table class="lista-dashboard">
			<tr>
				<td class="label">Total de Inscrições:</td>
				<td><?php echo (string)$resumos['inscritos'];?></td>
			</tr>
			<tr>
				<td class="label">Comentários aguardando aprovação:</td>
				<td><?php echo (string)$resumos['comentarios'];?></td>
			</tr>
		</table>
	</div>
</div>