<?php
$form = new Cylix_Form();
$name = $form->string('nome', $this->request->getParam('nome'),true,0,255,array('placeholder'=>"Nome"));
$name = $form->email('email', $this->request->getParam('email'),true,array('placeholder'=>"E-mail"));
$name = $form->select('cidade', $this->request->getParam('cidade'), array(), true);
$name = $form->select('estado', $this->request->getParam('estado'), array(), true);
$name = $form->captcha('captcha');
$form->label('Indique o código abaixo:',$name);
?>
<!-- title -->
<header class="headerPage">
	<div class="container clearfix"><?php $this->menu_active = 'cadastre-se'; ?>
		<div class="row">
			<div class="" id="navTrail"> 
				<a href="<?php echo getBaseUrl(''); ?>" class="homeLink">home</a><span>/</span><span class="current">Cadastre-se</span>  
			</div>
		</div>

	</div>
</header>  
<!-- title -->
<?php /* ------------------------------------------ */ 
 ob_start();
?> <script type="text/javascript">
new dgCidadesEstados({
          cidade: document.getElementById('cidade'),
          estado: document.getElementById('estado'),
          estadoVal: '<?php echo (is_null($this->request->getParam('cidade')))? "MG" : '';?>',
          cidadeVal: '<?php echo (is_null($this->request->getParam('cidade')))? "Belo Horizonte" : '';?>'
        });
</script>
<?php $this->content_script = ob_get_clean();?>
<!-- page content -->
<section id="content" class="">

	<div class="container clearfix slideContactpage">
		<div class="row">
			<div id="contactinfoWrapperPage" class="clearfix">



				<!-- contact form -->
				<div class="span5 ">

					<h2>Registre seu apoio!</h2>
					<div class="divider"><span></span></div>

					<?php echo $this->getAlert($this->_ctrl);?>
					
					<?php echo $form->ini();?>
					<div class="campo"><?php echo $form->get('nome');?></div>
					<div class="campo"><?php echo $form->get('email');?></div>
					<div class="campo"><?php echo $form->get('estado');?></div>
					<div class="campo"><?php echo $form->get('cidade');?></div>
					<div class="campo"><?php echo $form->get('captcha');?></div>
					<br/>
					<button name="submit" type="submit" class="btn btn-large btn-danger" id="submit1"> <i class="icon-ok-circle"></i> Registrar apoio</button>
					<?php echo $form->end();?>



						

					</form>

					<div id="message"></div>
				</div>
				<!-- contact form -->

				<div class="span6 offset1">
					<div class="alert fade in">
						<!--button data-dismiss="alert" class="close" type="button">×</button-->
						<strong>ATENÇÃO!</strong> Ao se cadastrar o seu e-mail não será divulgado!
					</div>

					<?php echo ConfigsModel::getValor('cad_texto_intro');?>

					<a href="<?php echo getBaseUrl('quem-somos#apoios-cadastrados');?>" class="btn pull-right  " title="Veja quem já se registrou!"><i class="  icon-thumbs-up"></i>Veja quem já se registrou!</a> 

				</div>
			</div>

		</div>
	</div>
</section>
<!-- page content -->