<?php

$form = new Cylix_Form();
$name = $form->string('nome', $this->request->getParam('nome'),true,0,255,array('placeholder'=>"Nome"));
$name = $form->email('email', $this->request->getParam('email'),true,array('placeholder'=>"E-mail"));
$name = $form->string('tel', $this->request->getParam('tel'),false,0,255,array('placeholder'=>"Telefone (opcional)"));
$name = $form->text('msg', $this->request->getParam('msg'), true, 5, 3000, false,array('placeholder'=>"Mensagem"));
$name = $form->captcha('captcha');
$form->label('Indique o código abaixo:',$name);
?>
<!-- title -->
<header class="headerPage">
	<div class="container clearfix"><?php $this->menu_active = 'contato'; ?>
		<div class="row">
			<div class="" id="navTrail"> 
				<a href="<?php echo getBaseUrl(''); ?>" class="homeLink">home</a><span>/</span><span class="current">Contato</span>  
			</div>
		</div>

	</div>
</header>  
<!-- title -->
<?php /* ------------------------------------------ */ ?>
<!-- page content -->
<section id="content" class="">

	<div class="container clearfix slideContactpage">
		<div class="row">
			<div id="contactinfoWrapperPage" class="clearfix">

				<div class="span4">
					<h2>Fale conosco!</h2>
					<div class="divider"><span></span></div>
					<?php echo ConfigsModel::getValor('cfg_contato_txt');?>
				</div>
				<!-- contact form -->
				<div class="span7 offset1">
					<?php echo $this->getAlert($this->_ctrl);?>
					<?php echo $form->ini();?>
					<div class="campo"><?php echo $form->get('nome');?></div>
					<div class="campo"><?php echo $form->get('email');?></div>
					<div class="campo"><?php echo $form->get('tel');?></div>
					<div class="campo"><?php echo $form->get('msg');?></div>
					<div class="campo"><?php echo $form->get('captcha');?></div>
					<button name="submit" type="submit" class="btn" id="submitC"> <i class="icon-mail"></i> Enviar</button>
					<?php echo $form->end();?>

					<div id="message"></div>
				</div>
				<!-- contact form -->

			</div>
		</div>
</section>
<!-- page content -->
