<?php
$rows = $this->rows;
$banner_tipo = $this->request->getParam('banner-tipos');
$nav = $this->helper->navegacao();
?>
<div class="janela">
    <div class="barra-titulo">Banners</div>
    <?php echo $this->getAlert($this->_ctrl);?>
    <div class="janela-interior">
        <?php if($nav->permissao($this->_ctrl,'novo')): ?>
        <div class="botoes-janela">
            <?php $nav->acoesGrid($this->_ctrl,'novo',"banner-tipos/$banner_tipo"); ?>
        </div>
        <?php endif; ?>
        <div class="listagem">
            <table width="100%" cellspacing="0" class="tabela">
                <thead>
                    <tr>
                        <th width="10">Status</th>
                        <th>Título</th>
                        <th>Tipo</th>
                        <th>Imagem</th>
                        <th width="102">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <?php echo $this->helper->html($rows)->semRegistro();
                    foreach($rows as $row): ?>
                    <tr class="valign-middle">
                        <td class="status-col status-<?php echo $row->status;?>"><?php echo $row->status;?></td>
                        <td><?php echo $row->titulo;?></td>
                        <td>
                        <?php
                        $tipo = BannerTiposModel::me()->find($row->banner_tipos_id);
                        echo $tipo->nome;
                        ?>
                        </td>
                        <td>
                            <img src="<?php echo getBaseUrl($row->thumbAdmin())?>" alt="<?php echo $row->titulo;?>" />
                        </td>
                        <td class="acoes">
                            <a href="<?php echo getUrl($row->imagem);?>" title="Ver Imagem" class="ver" rel="prettyPhoto[g<?php echo $row->banner_tipos_id;?>]">&nbsp;</a>
                            <?php $nav->acoesGrid($this->_ctrl,'editar','id/'.$row->id."/banner-tipos/$banner_tipo"); ?>
                            <?php $nav->acoesGrid($this->_ctrl,'deletar','id/'.$row->id."/banner-tipos/$banner_tipo"); ?>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <div id="paginador">
            <?php echo $this->pgr;?>
        </div>
    </div>
</div>
<script type="text/javascript">
get_prettyphoto();
</script>