<div class="janela">
    <div class="barra-titulo">Novo Banner - <?php echo $this->tipo->nome?> (<?php echo $this->tipo->largura?> x <?php echo $this->tipo->altura?>)</div>
    <?php echo $this->getAlert($this->_ctrl);?>
    <div class="formulario">
        <?php echo $this->partial('partes/form',true,null,array('img'=>true));?>
    </div>
</div>