<?php $PG = $params['PG'];?>
<footer class="clearfix comments" id="area-comentarios"> 	

	<h3 class="commentNumbers">Comentários (<?php echo $PG->countComentarios();?>)</h3>
	<?php foreach($PG->comentarios() as $com){ ?>
	<div class="media"><?php $hash = md5( strtolower( trim( $com->email ) ) );?>
		<a class="pull-left" href="#comentario-<?php echo $com->id;?>">
			<img src="http://www.gravatar.com/avatar/<?php echo $hash;?>?s=30">
		</a>
		<div class="media-body"> 
			<div class="clearfix">
				<h4 class="media-heading"><?php echo strip_tags($com->nome);?></h4>
				<div class="commentInfo">
					<span><?php echo $this->helper->formatar($com->criacao)->data();?></span>
				</div>
			</div>                                                
			<?php echo nl2br(strip_tags(htmlspecialchars($com->mensagem)));?>
			
		</div>
	</div>
	<?php } ?>
	<?php echo $this->getAlert($this->_ctrl);?>

	<h3 class="commentNumbers">Deixe-nos um comentário</h3>
	<?php 
	$form = new Cylix_Form('#area-comentarios');
	$name = $form->string('nome', $this->request->getParam('nome'),true,0,255,array('placeholder'=>"Nome*"));
	$name = $form->email('email', $this->request->getParam('email'),true,array('placeholder'=>"E-mail*"));
	$name = $form->text('mensagem', $this->request->getParam('mensagem'), true, 5, 3000, false,array('placeholder'=>"Mensagem*"));
	$name = $form->captcha('captcha');
	$form->label('Indique o código abaixo:',$name);
	?>
	<?php echo $form->ini();?>
	<div class="campo"><?php echo $form->get('nome');?></div>
	<div class="campo"><?php echo $form->get('email');?></div>
	<div class="campo"><?php echo $form->get('mensagem');?></div>
	<div class="campo"><?php echo $form->get('captcha');?></div>
	<button name="submit" type="submit" class="btn" id="submitC"> <i class="icon-mail"></i> Enviar</button>
	<?php echo $form->end();?>
</footer>