  a,
  abbr,
  acronym,
  address,
  applet,
  big,
  blockquote,
  body,
  caption,
  cite,
  code,
  dd,
  del,
  dfn,
  div,
  dl,
  dt,
  em,
  fieldset,
  font,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  html,
  iframe,
  img,
  ins,
  kbd,
  label,
  legend,
  li,
  object,
  ol,
  p,
  pre,
  q,
  s,
  samp,
  small,
  span,
  strike,
  strong,
  sub,
  sup,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr,
  tt,
  ul,
  var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline; }

  body {
    line-height: 1;
    color: black;
    background: white; }

  ol,
  ul {
    list-style: none; }

  table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle; }

  caption,
  td,
  th {
    text-align: left;
    font-weight: normal;
    vertical-align: middle; }

  blockquote,
  q {
    quotes: "" ""; }
  blockquote:after,
  blockquote:before,
  q:after,
  q:before {
    content: ""; }

  a img {
    border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\xampp\\htdocs\\LSCFW\\blank\\www\/\.\.\/sys\/\/stylesheets\/sass\/terminal\/estilos\.scss;}line{font-family:'6';}}
small {
  font-size: small; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\\xampp\\htdocs\\LSCFW\\blank\\www\/\.\.\/sys\/\/stylesheets\/sass\/terminal\/estilos\.scss;}line{font-family:'9';}}
body {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  background: url('../img/fundo_framework.jpg') no-repeat 50% 50% white; }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\xampp\\htdocs\\LSCFW\\blank\\www\/\.\.\/sys\/\/stylesheets\/sass\/terminal\/estilos\.scss;}line{font-family:'17';}}
  body #terminal {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    -moz-box-shadow: #777777 0 0 10px 0;
    -webkit-box-shadow: #777777 0 0 10px 0;
    -o-box-shadow: #777777 0 0 10px 0;
    -moz-box-shadow: #777777 0 0 10px 0;
    -webkit-box-shadow: #777777 0 0 10px 0;
    box-shadow: #777777 0 0 10px 0; }
    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\xampp\\htdocs\\LSCFW\\blank\\www\/\.\.\/sys\/\/stylesheets\/sass\/terminal\/estilos\.scss;}line{font-family:'22';}}
    body #terminal .logo {
      text-align: center;
      background-color: white; }
    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\xampp\\htdocs\\LSCFW\\blank\\www\/\.\.\/sys\/\/stylesheets\/sass\/terminal\/estilos\.scss;}line{font-family:'26';}}
    body #terminal .area {
      width: 930px;
      height: 300px;
      overflow-y: auto;
      margin: 0 10px;
      padding: 5px;
      -moz-opacity: 0.8;
      -webkit-opacity: 0.8;
      -khtml-opacity: 0.8;
      opacity: 0.8;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
      background-color: black;
      color: #666666; }
      @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\xampp\\htdocs\\LSCFW\\blank\\www\/\.\.\/sys\/\/stylesheets\/sass\/terminal\/estilos\.scss;}line{font-family:'35';}}
      body #terminal .area .comando {
        color: #02f412; }
      @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\xampp\\htdocs\\LSCFW\\blank\\www\/\.\.\/sys\/\/stylesheets\/sass\/terminal\/estilos\.scss;}line{font-family:'38';}}
      body #terminal .area .resposta,
      body #terminal .area a {
        color: #02a8f4; }
      @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\xampp\\htdocs\\LSCFW\\blank\\www\/\.\.\/sys\/\/stylesheets\/sass\/terminal\/estilos\.scss;}line{font-family:'41';}}
        @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\xampp\\htdocs\\LSCFW\\blank\\www\/\.\.\/sys\/\/stylesheets\/sass\/terminal\/estilos\.scss;}line{font-family:'42';}}
        body #terminal .area .resposta .exception {
          background-color: white;
          padding: 5px;
          display: none;
          color: black; }
    @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\xampp\\htdocs\\LSCFW\\blank\\www\/\.\.\/sys\/\/stylesheets\/sass\/terminal\/estilos\.scss;}line{font-family:'50';}}
    body #terminal .comandos {
      height: 60px; }
      @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\xampp\\htdocs\\LSCFW\\blank\\www\/\.\.\/sys\/\/stylesheets\/sass\/terminal\/estilos\.scss;}line{font-family:'51';}}
      body #terminal .comandos #send {
        margin-top: 20px;
        width: 940px;
        padding: 5px 8px; }
      @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\xampp\\htdocs\\LSCFW\\blank\\www\/\.\.\/sys\/\/stylesheets\/sass\/terminal\/estilos\.scss;}line{font-family:'57';}}
      body #terminal .comandos .status {
        font-size: 11px;
        margin-top: 5px; }
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\\xampp\\htdocs\\LSCFW\\blank\\www\/\.\.\/sys\/\/stylesheets\/sass\/terminal\/estilos\.scss;}line{font-family:'63';}}
  body #send-login input {
    border: none;
    background: none;
    color: #02f412;
    width: 700px; }

