<?php
$form = new Cylix_Form();
$name = $form->string('title', (is_string($this->reg->title)) ? $this->reg->title : $this->request->getParam('title'));
$form->label('Título do Documento', $name);
$name = $form->radio('status', (is_string($this->reg->status)) ? $this->reg->status : (int)$this->request->getParam('status'), array('Bloqueado', 'Publicado'));
$form->label('Status', $name);
$name = $form->string('url', (is_string($this->reg->url)) ? $this->reg->url : $this->request->getParam('url'));
$form->label('URL do documento', $name);
$name = $form->string('doc_id', (is_string($this->reg->doc_id)) ? $this->reg->doc_id : $this->request->getParam('doc_id'));
$form->label('ID do documento no yumpu.com', $name);
$name = $form->string('image_big', (is_string($this->reg->image_big)) ? $this->reg->image_big : $this->request->getParam('image_big'));
$form->label('Imagem de Capa', $name);
$name = $form->date('data', (is_string($this->reg->data)) ? $this->reg->data : $this->request->getParam('data'));
$form->label("Data de Publicação", $name);
$form->submit('s', 'Salvar');
$form->button('c', 'Voltar', 'button', null, array('onclick' => "window.location = '" . getBaseUrl($this->_permalink . '/' . $this->_ctrl) . "';"));
echo $form->ini();
?>
<fieldset>
    <legend>Cadastro</legend>
    <div class="bloco">
        <?php echo $form->get('status'); ?>
    </div>
    <div class="bloco">
        <?php echo $form->get('doc_id'); ?><button type="button" onclick="buscarDados()">Buscar Informações</button> <small>Busque o número contindo na URL do documento. Ex.: https://www.yumpu.com/pt/document/view/<b style="text-decoration: underline">52505737</b>/manual-teste</small>
    </div>
    <div class="bloco">
        <?php echo $form->get('title'); ?>
    </div>
    <div class="bloco">
        <?php echo $form->get('url'); ?>
    </div>
    <div class="bloco">
        <?php echo $form->get('data'); ?>
    </div>
    <div class="bloco">
        <p>
            <input type="hidden" name="embed_code" value="<?php echo $this->reg->embed_code; ?>" id="embed_code" />
            Data original: <span id="span_create_date"><?php echo $this->reg->create_date; ?></span><input type="hidden" name="create_date" value="<?php echo $this->reg->create_date; ?>" id="create_date" /><br/>
            <img style="border: 1px dotted #000;" id="img_thumb" src="<?php echo $this->reg->image_small; ?>" alt="" /> 
            <input type="hidden" name="image_small" value="<?php echo $this->reg->image_small; ?>" id="image_small" /> <input type="hidden" name="image_big" value="<?php echo $this->reg->image_big; ?>" id="image_big" />
        </p>
    </div>
</fieldset>
<div class="bloco">
    <?php echo $form->get('c'); ?>
    <?php echo $form->get('s'); ?>
</div>
<?php echo $form->end();?>
<script type="text/javascript">
function buscarDados(){
    var d_id = $j('#doc_id').val();
    if(d_id.length > 5){
        $j.ajax({
            url: '<?php echo getBaseUrl($this->_permalink.'/'.$this->_ctrl.'/index');?>?layout=ajax&doc_id='+d_id,
            dataType : 'json',
            success: function(ret){
                console.log(ret);
                if($j('#title').val() == ''){
                    $j('#title').val(ret.document[0].title);
                }
                if($j('#data').val() == ''){
                    $j('#data').val(ret.document[0].create_date.substr(8,2)+'/'+ret.document[0].create_date.substr(5,2)+'/'+ret.document[0].create_date.substr(0,4));
                }
                $j('#url').val(ret.document[0].url);
                $j('#embed_code').val(ret.document[0].embed_code);
                $j('#image_big').val(ret.document[0].image.big);
                $j('#image_small').val(ret.document[0].image.small);
                $j('#create_date').val(ret.document[0].create_date);
                $j('#span_create_date').html(ret.document[0].create_date);
                $j('#img_thumb').attr('src',ret.document[0].image.small);
            }
        });
    }
}
</script>