<?php
Cylix_App::setCSS('tipsy', getBaseUrl('lib/tipsy/tipsy_admin.css'));
Cylix_App::setJS('tipsy', getBaseUrl('lib/tipsy/jquery.tipsy.js'));
$logado = $this->logado;
$permissoes = $logado->permissoes;
$u_perm = $this->acoes;
?>
<fieldset class="perms">
    <legend class="dblclick"><span class="tooltipsy" title="Utilize um duplo-clique para marcar/desmarcar tudo">Permissões - Conteúdos</span></legend>
    <?php foreach($this->conteudos_perm as $chave => $valor):?>
    <div class="bloco-perm">
        <div class="label" title="<?php echo $valor['label'];?>"><?php echo (strlen($valor['label'])<=20) ? $valor['label'] : substr($valor['label'], 0, 16).'<small>...</small>';?></div>
        <?php foreach($valor['permitir'] as $acao=>$label): ?>
        <div class="acoes">
            <label><input type="checkbox" name="acoes[<?php echo $chave;?>][]" id="<?php echo $chave.'_'.$acao;?>" value="<?php echo $acao;?>"<?php echo (isset($u_perm[$chave]) && $u_perm[$chave][$acao])?' checked="checked"':'';?> /><?php echo $label;?></label>
        </div>
        <?php endforeach;?>
    </div>
    <?php endforeach; ?>
</fieldset>
<fieldset class="perms">
    <legend class="dblclick"><span class="tooltipsy" title="Utilize um duplo-clique para marcar/desmarcar tudo">Permissões - Gerais</span></legend>
    <?php foreach($this->outras_perm as $chave_tmp => $valor_tmp):
        $valores = array($chave_tmp => $valor_tmp);//caso nao esteja agrupado, vai fazer foreach somente neste unico elemento
        if(isset($valor_tmp['folder'])){
            $valores = $valor_tmp['folder'];
        }
        foreach($valores as $chave => $valor):
        ?>
    <div class="bloco-perm">
        <div class="label" title="<?php echo $valor['label'];?>"><?php echo (strlen($valor['label'])<=20) ? $valor['label'] : substr($valor['label'], 0, 16).'<small>...</small>';?></div>
        <?php foreach($valor['permitir'] as $acao=>$label): ?>
        <div class="acoes">
            <label><input type="checkbox" name="acoes[<?php echo $chave;?>][]" id="<?php echo $chave.'_'.$acao;?>" value="<?php echo $acao;?>"<?php echo (isset($u_perm[$chave]) && $u_perm[$chave][$acao])?' checked="checked"':'';?> /><?php echo $label;?></label>
        </div>
        <?php endforeach;?>
    </div>
    <?php endforeach;//valores
    endforeach;//outras_perm ?>
</fieldset>
<script type="text/javascript">
function checkAll(pai){
    var total = pai.find('input[type=checkbox]').length;
    var checkeds = pai.find('input[type=checkbox]:checked').length;
    if(total>checkeds){
        pai.find('input[type=checkbox]').attr('checked','checked');
    }else{
        pai.find('input[type=checkbox]').removeAttr('checked');
    }
}
(jQuery)(function($){
    $('.dblclick').dblclick(function(){
        var pai = $(this).parent();
        checkAll(pai);
    });
    $('.bloco-perm .label').click(function(){
        var pai = $(this).parent();
        checkAll(pai);
    });
    $('#is_root-0').click(function(){
        $('.perms').show();
    });
    $('#is_root-1').click(function(){
        $('.perms').hide();
    });
    <?php echo ($this->reg->is_root)?"$('.perms').hide();":'';?>
})
</script>