<?php
$logado = $this->logado;
$is_root = ($logado->is_root == 1) ? true : false;
?>
<div class="bloco">
    <?php echo $this->form->get('status'); ?>
</div>
<div class="bloco">
    <?php echo $this->form->get('nome'); ?>
</div>
<div class="bloco">
    <?php echo $this->form->get('email'); ?>
</div>
<div class="bloco">
    <?php echo $this->form->get('editor'); ?>
</div>
<div class="bloco is-root">
    <?php
    if ($is_root) {
        echo $this->form->get('is_root');
    } else {
    ?>
    <input type="hidden" name="is_root" value="0" />
    <?php
    }
    ?>
</div>