<?php ?>
<script type="text/javascript">
    var swfu;
    $j(document).ready(function() {
        var settings = {
            flash_url : "<?php echo getBaseUrl('lib/SWFUpload/swfupload.swf')?>",
            upload_url: "<?php echo getBaseUrl($this->_permalink.'/midias/upload')?>",
            post_params: {"PHPSESSID" : "<?php echo session_id(); ?>", "paginas_id" : "<?php echo $this->pagina->id; ?>"},
            file_size_limit : "30 MB",
            file_types : "*.*",
            file_types_description : "Arquivos",
            file_upload_limit : 10,
            file_queue_limit : 0,
            custom_settings : {
                progressTarget : "fsUploadProgress",
                cancelButtonId : "btnCancel"
            },
            <?php if(ENV != 'online'):?>
            debug: true,
            <?php endif;?>
            // Button settings
            button_image_url: "<?php echo getBaseUrl('lib/SWFUpload/enviar.png')?>",
            button_width: "74",
            button_height: "28",
            button_placeholder_id: "spanButtonPlaceHolder",
            button_text: '<span class="input-button ui-button ui-widget ui-state-default ui-corner-all"> </span>',
            button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
            button_cursor: SWFUpload.CURSOR.HAND,
            //button_text_style: ".theFont { font-family: Verdana,Arial,sans-serif;font-size: 12px; cursor: pointer; }",
            //button_text_left_padding: 12,
            //button_text_top_padding: 3,

            // The event handler functions are defined in handlers.js
            file_queued_handler : fileQueued,
            file_queue_error_handler : fileQueueError,
            file_dialog_complete_handler : fileDialogComplete,
            upload_start_handler : uploadStart,
            upload_progress_handler : uploadProgress,
            upload_error_handler : uploadError,
            upload_success_handler : uploadSuccess,
            upload_complete_handler : uploadComplete,
            queue_complete_handler : queueComplete	// Queue plugin event
        };

        swfu = new SWFUpload(settings);
        get_prettyphoto();
        //jquery-ui dialog
        $j('body').addClass('body-midias');
    });
</script>
<form id="form1" action="" method="post" enctype="multipart/form-data" class="upload-form">
    <div class="fieldset flash" id="fsUploadProgress">
        <span class="legend"></span>
    </div>
    <div id="divStatus">0 arquivo(s) enviado(s)</div>
    <div class="upload-swf">
        <span id="spanButtonPlaceHolder"></span>
        <input id="btnCancel" class="input-button ui-button ui-widget ui-state-default ui-corner-all" type="button" value="Interromper" onclick="swfu.cancelQueue();" />
    </div>
</form>
<div id="caixa-dialogo">
    <div class="formulario">
    <?php echo $this->f_midia;?>
    </div>
</div>