@import "var";
@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
small{
    font-size: small;
}
body {
    font-family: $fonte;
    font-size: $tam_fonte;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    background: url('../img/fundo_framework.jpg') no-repeat 50% 50% #fff;
    
    #terminal{
        width: 660px;
        /*height: 460px;*/
        margin: 40px auto 0 auto;
        padding: 20px;
        @include border-radius(10px, 10px);
        @include box-shadow(#777777, 0, 0, 10px);
        .logo{
            text-align: center;
            background-color: #FFFFFF;
        }
        .area{
            width: 630px;
            height: 300px;
            overflow-y: auto;
            margin: 0 10px;
            padding: 5px;
            @include opacity(0.8);
            background-color: #000;
            color: $cinza;
            .comando{
                color: #02F412;
            }
            a,.resposta{
                color: #02A8F4;
            }
            .resposta{
                .exception{
                    background-color: #fff;
                    padding: 5px;
                    display: none;
                    color: #000;
                }
            }
        }
        .comandos{
            #send{
                margin-top: 20px;
                width: 640px;
                padding: 5px 8px;
            }
            height: 60px;
            .status{
                font-size: $tam_fonte - 3px;
                margin-top: 5px;
            }
        }
    }
}