/*    RESET    */
body a:focus,body a:active,body a:visited{
   outline: none;
}
body a{
   color: black;
   text-decoration: none;
}
body a:hover{
    text-decoration: underline;
}
body img{
   border: none;
}
.clear{
    clear: both;
}
table td,
table th{
    font-size: 12px;
    padding: 0 4px 2px;
    text-align: left;
    vertical-align: top;
}
/* geral */
body{
   margin: 0;
   background: url("../img/fundo_admin.jpg") no-repeat 50% #fff;
}
body,textarea{
   color: #304E58;
   font-weight: normal;
   font-family: 'Trebuchet MS','Arial','Helvetica','sans-serif';
   font-size: 13px;
}
textarea{
    color: #253942;
}
#main{
   min-height: 400px;
}
#header{
   position: relative;
   height: 100px;
   background: url("../img/bg_header.png") repeat-x top transparent;
}
#logo{
   position: absolute;
   width: 330px;
   top:0;
   left:0;
   z-index: 2;
}
#logo .topoAzul{
	color: #304B56;
	font-weight: bold;
	font-size: 18px;
	display: block;
}
#header .bem-vindo{
   position: absolute;
    right: 70px;
    text-align: right;
    top: 10px;
    width: 300px;
    z-index: 2;
}
#header .sair{
   position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
}
#header .sair a{
    background: url("../img/logoff.png") no-repeat scroll 32px 0 transparent;
    color: #C60101;
    font-weight: bold;
    padding-right: 25px;
}
#header .senha{
   position: absolute;
    right: 10px;
    top: 35px;
    z-index: 2;
}
#header .senha a{
    background: url("../img/key.png") no-repeat scroll 89px 2px transparent;
    color: #CEA604;
    font-weight: bold;
    padding-right: 25px;
}
/* sidebar*/

#sidebar{
   margin: 0px 20px 10px -15px;
    padding: 0 0 5px 15px;
    width: 250px;
    float: left;
   box-shadow: 0px 0px 10px #666;
   -webkit-box-shadow: 0px 0px 10px #666;
   -moz-box-shadow: 0px 0px 10px #666;
   margin-bottom: 20px;
   -moz-border-radius:15px;
   -webkit-border-radius:15px;
   border-radius:15px;
   /*caso esteja usando IE inferior ao 8 fica esta toskeira: */
   *border: 2px grey solid;
}
#sidebar a{
   text-decoration: none;
   font-weight: normal;
}
#sidebar a:hover{
   text-decoration: none;
   font-weight: bold;
}
#sidebar .geral{
   -moz-border-radius:0 15px 0 0;
   -webkit-border-radius:0 15px 0 0;
   border-radius:0 15px 0 0;
    height: 18px;
    padding: 5px 0 5px 3px;
}
#sidebar .geral img{
     vertical-align: -4px;
}
#sidebar .filetree span.active a {font-weight: bold}

#browser{
   padding: 0 5px 5px;
}
#browser li > span{
    height: 18px;
}
#browser li > span a{
    vertical-align: middle;
}
/*janela do centro + datagrid */
#login-box,
#container .janela{
   margin: 15px 10px 20px 280px;
    min-height: 170px;
   margin-bottom: 20px;
    box-shadow: 0px 0px 10px #666;
   -webkit-box-shadow: 0px 0px 10px #666;
   -moz-box-shadow: 0px 0px 10px #666;
   -moz-border-radius:15px;
   -webkit-border-radius:15px;
   border-radius:15px;
   /*caso esteja usando IE inferior ao 8 fica esta toskeira: */
   *border: 2px grey solid;
}
#login-box .barra-titulo,
#container .janela .barra-titulo{
   -moz-border-radius:15px 15px 0 0;
   -webkit-border-radius:15px 15px 0 0;
   border-radius:15px 15px 0 0;
    height: 18px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}
#sidebar .geral,
#login-box .barra-titulo,
#container .janela .barra-titulo{
    background: url("../img/ui-bg_glass_100_e9e8e8_1x400.png") repeat-x 50% 50% #eeeeee;
}
#container .janela .janela-interior{
   margin: 10px;
   padding-bottom: 10px;
}
/************/
#rodape{
   text-align: right;
   margin-right: 20px;
}
/*janela e box-login*/
#login-box .bloco div,
.janela-interior div{
    font-size: 12px;
}
.botoes-janela{
    text-align: right;
}
.janela-interior .tabela{
    margin: 5px 0 10px;
    background-color: #fff;
}
.tabela tbody tr:hover{
    background-color: #EEFFE5;
    cursor: default;
}
.tabela .valign-middle td{
    vertical-align: middle;
}
.janela-interior .tabela tr.zebra,
.janela .tabela tr.zebra{
    background-color: #f9f9f9;
}
.tabela tbody tr.zebra:hover{
    background-color: #EEFFE5;
}
.janela-interior .tabela tr.focus,
.janela .tabela tr.focus{
    background-color: #FFEEBC;
}
.janela-interior .tabela thead th,
.janela .tabela thead th{
    border-bottom: 1px dotted #000;
    padding-top: 5px;
}
.janela-interior .tabela .status-1{
    background: url(../img/square-green.png) no-repeat 50% 50% transparent;
}
.janela-interior .tabela .status-0{
    background: url(../img/square-red.png) no-repeat 50% 50% transparent;
}
.janela-interior .tabela .status-col{
    text-indent: -999px;
}
.janela-interior .tabela .acoes{
    min-width: 15px;
    white-space: nowrap;
}
.janela-interior .tabela .acoes a{
    padding: 8px;
    font-size: 1px;
}
.janela-interior .tabela .acoes .ver{
    background: url(../img/ver.png) no-repeat 0 0 transparent;
}
.janela-interior .tabela .acoes .editar{
    background: url(../img/editar.png) no-repeat 0 0 transparent;
}
.janela-interior .tabela .acoes .deletar{
    background: url(../img/deletar.png) no-repeat 0 0 transparent;
}
.janela-interior .tabela .acoes .publicar{
    background: url(../img/toggle_status.png) no-repeat 0 0 transparent;
    padding: 8px 9px;
}
/*
.janela-interior .tabela .acoes .publicar-0{
    background: url(../img/bloquear.png) no-repeat 0 0 transparent;
}
.janela-interior .tabela .acoes .publicar-1{
    background: url(../img/publicar.png) no-repeat 0 0 transparent;
}*/
.janela-interior .tabela .acoes .filho{
    background: url(../img/add.png) no-repeat 0 0 transparent;
}
.janela-interior .tabela .acoes .midias{
    background: url(../img/multimedia.png) no-repeat 0 0 transparent;
}
.janela-interior .tabela .acoes .categorias{
    background: url(../img/categorias.png) no-repeat 0 0 transparent;
}
.janela .linha-sem-registro{
    text-align: center;
    margin: 5px 0;
}
/*formulario*/
.formulario{
    margin-bottom: 5px;
    padding: 5px;
}
#login-box .input input,
#login-box .input textarea,
.formulario .input-text,
.formulario .input-string,
.formulario .input-email,
.formulario .input-html{
    width: 100%;
}
.formulario .input-text,
.formulario .input-string,
.formulario .input-email,
.formulario .input-html{
    width: 99%;
}
.formulario .input-text{
    height: 130px;
}
.formulario .input-mask,
.formulario .input-select,
.formulario .input-money,
.formulario .input-datetime{
    width: 50%;
    display: block;
}
.formulario .input-int,
.formulario .input-password,
.formulario .input-time,
.formulario .input-date{
    width: 30%;
}
.formulario fieldset{
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #FFFFFF;
    border: 2px solid #EEEEEE;
    margin-bottom: 5px;
}
.formulario fieldset legend{
    color: #314C55;
    font-weight: bold;
    padding: 0 5px;
}
.formulario .bloco{
    margin: 5px;
}
#login-box .bloco .label,
.formulario .bloco .label{
    font-weight: bold;
}
.formulario div.obrigatorio:after {
    content: " *";
    font-weight: bold;
}
.formulario .area-botao{
    text-align: right;
}
.input label.invalido{
    color: red;
    border-bottom: 1px dotted red;
    display: table-row;
}
.formulario input[type=text],
.formulario input[type=password],
.formulario textarea,
.formulario file{
    padding: 3px 2px;
    border: 1px solid #7E8B96;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.formulario .invalido{
    color: #D13000;
}
#cke_conteudo{
    border: 1px solid #7E8B96;
}
/* login */
#login-box{
    width: 350px;
    margin: 130px auto 0;
    background-color: white;
    padding-bottom: 10px;
}
#login-box .bloco{
    margin: 5px 15px 5px 10px;
}
#login-box .area{
    padding-left: 70px;
    background: url("../img/login_key.png") no-repeat scroll 5px 15px #FFFFFF;
}
#login-box .area-botao{
    text-align: right;
    margin-top: 10px;
}
/*alertas*/
.box-alert{
    padding: 8px 8px 8px 40px;
    background-color: #FFFFFF;
}
.box-alert.box-alert-warning{
    background: url("../img/alertas/aviso.png") no-repeat scroll 5px 2px #FFFEC9;
}
.box-alert.box-alert-error{
    background: url("../img/alertas/erro.png") no-repeat scroll 5px 2px #FFEAC9;
    color: #6B0202;
}
.box-alert.box-alert-info{
    background: url("../img/alertas/info.png") no-repeat scroll 5px 2px #E0EEFC;
}
.box-alert.box-alert-ok{
    background: url("../img/alertas/ok.png") no-repeat scroll 5px 2px #E5FFE6;
}
#aviso-navegadores .navegadores{
    margin: 10px 0;
    text-align: center;
}
#aviso-navegadores .navegadores img{
    margin: 0 10px;
}
#area-permissoes .bloco-perm{
    float: left;
    height: 112px;
    margin: 5px;
    width: 130px;
}
#area-permissoes .bloco-perm .label{
    text-decoration: underline;
    cursor: pointer;
}
form .input-image-mini{
    display: block;
    max-width: 150px;
    max-height: 120px;
}

/* midias */
.upload-form .upload-swf object{
    vertical-align: bottom;
}
.upload-form .progressName{
    font-weight: bold;
    font-style: italic;
}
.todas-midias .midias input{
    padding: 0;
    width: 100%;
}
#form_edit{
    font-size: 12px;
    color: #304E58;
}
.body-midias .ui-dialog{
    width: 450px !important;
}
/*ajuste do botao do datepicker.css*/
.button-datepicker-clear{
    margin-bottom: 1px;
}
.janela .area-pesquisa{
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #CCCCCC;
    margin: 5px;
    padding: 5px;
}
.janela .area-pesquisa td{
    padding: 5px;
}
.janela .area-pesquisa td.label{
    text-align: right;
}
.janela .area-pesquisa .campo input{
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #7E8B96;
    padding: 3px 2px;
    width: 99%;
}
.form-configs .label{
    position: relative;
}
.label .img-help{
    position: absolute;
    right: 5px;
    z-index: 1;
    cursor: pointer;
}
.tabela-menu-itens .dots{
    margin-bottom: -2px;
    vertical-align: top;
}
.help-hidden{
    display: none;
}
.botoes-extras form,
.botoes-extras form input,
.botoes-extras form select{
    font-size: 10px;
}
.input-upload-link{
    display: block;
}
/* dashboard*/
.lista-dashboard td{
	padding: 5px;
}
.lista-dashboard .label{
	font-weight: bold;
	width: 230px;
	text-align: right;
}