/*icones para o text input*/
input.input-datetime{
    background: transparent url(../img/time.png) right 50% no-repeat;
    width: 280px;
    padding-right: 20px;
}
input.input-date{
    background: transparent url(../img/calendar.png) right 50% no-repeat;
    width: 280px;
    padding-right: 20px!important;
}
input.input-time{
    background: transparent url(../img/clock.png) right 50% no-repeat;
    width: 280px;
    padding-right: 20px;
}
.button-datepicker-clear{
    background-color: transparent;
    border: medium none !important;
    height: 22px !important;
    vertical-align: bottom;
    width: 22px !important;
    cursor: pointer;
}