/*
modelo de um paginationFlickr
criado por Leandro S Cunha
www.ferramentasparaweb.com.br
*/
#paginador {
    margin-top: 10px;
    text-align: center;
}
#paginador a {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #999999;/* cor do quadrado em volta do link */
    padding: 2px 5px 2px 8px;
    background-color: #F7F7F8;
    background: url("../img/ui-bg_glass_100_e9e8e8_1x400.png") repeat-x scroll 50% 50% #EEEEEE;
    margin: 0 2px;
}
#paginador a:link, /* links normais */
#paginador a:visited {
    color: #304E58;
    text-decoration: none;
}
#paginador ul.area{
    display: inline;
    list-style: none outside none;
    padding: 0;
}
#paginador li{
    border: 0 none;
    display: inline;
    /*font-size: 11px;*/
    margin: 0;
    padding: 2px;
}
#paginador .bloq{ /* nao possui anterior*/
    /*visibility: hidden;*/
    border: 1px solid #b9b9b9;
    color: #b9b9b9;
    padding: 2px 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
#paginador .atual { /* pagina atual (sem link) */
    font-weight: bold;
}
#paginador a:hover { /* mouse em cima */
    border: 1px solid #304E58;
}
/* proximo e anterior */
#paginador .anter a,
#paginador .prox a{
    font-weight: bold;
    padding: 2px 8px;
}