<?php
$rows = $this->rows;
$nav = $this->helper->navegacao();
?>
<div class="janela">
    <div class="barra-titulo">Áreas</div>
    <?php echo $this->getAlert($this->_ctrl);?>
    <div class="janela-interior">
        <?php if($nav->permissao($this->_ctrl,'novo')): ?>
        <div class="botoes-janela">
            <?php $nav->acoesGrid('areas','novo'); ?>
        </div>
        <?php endif; ?>
        <div class="listagem">
            <table width="100%" cellspacing="0" class="tabela">
                <thead>
                    <tr>
                        <th width="10">Status</th>
                        <th>Título</th>
                        <th>Permalink</th>
                        <th width="102">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <?php echo $this->helper->html($rows)->semRegistro();
                    foreach($rows as $row): ?>
                    <tr>
                        <td class="status-col status-<?php echo $row->status;?>"><?php echo $row->status;?></td>
                        <td><?php echo $row->titulo;?></td>
                        <td><?php echo $row->permalink;?></td>
                        <td class="acoes">
                            <?php if(strlen($row->permalink) > 1): ?>
                            <a target="_blank" href="<?php echo getBaseUrl($row->permalink);?>" title="Ver" class="ver">&nbsp;</a>
                            <?php else: ?>
                            <a target="_blank" href="<?php echo getBaseUrl('areas/index/id/'.$row->id);?>" title="Ver" class="ver">&nbsp;</a>
                            <?php endif; ?>
                            <?php $nav->acoesGrid($this->_ctrl,'editar','id/'.$row->id); ?>
                            <?php $nav->acoesGrid($this->_ctrl,'deletar','id/'.$row->id); ?>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <div id="paginador">
            <?php echo $this->pgr;?>
        </div>
    </div>
</div>