<div class="janela">
    <div class="barra-titulo">Nova Área</div>
    <?php echo $this->getAlert('areas');?>
    <div class="formulario">
        <?php echo $this->partial('partes/form');?>
    </div>
</div>