<div class="area">
    <div class="comando">Terminal <?php echo date('d/m/Y H:i:s');?> &raquo;</div>
    <?php if(isset($_SESSION['terminal'])):?>
    <div class="resposta">Aguardando comandos</div>
    <?php else:?>
    <div class="resposta">Aguardando identificação.</div>
	<div class="resposta" id="send-login">SENHA: <input type="password" onkeyup="enviar(event,'safe login '+this.value)" /> </div>
	<script type="text/javascript">jQuery('#send-login').focus();</script>
    <?php endif;?>
</div>
<div class="comandos">
    <input type="text" id="send" onkeyup="enviar(event,this.value)" />
    <div class="status">
        Pronto!
        <a href="javascript: void(0);" onclick="$j('#send').val('safe help');">Ajuda?</a>
    </div>
</div>
