<div class="janela">
    <div class="barra-titulo">Editando comentário de '<?php echo $this->reg->nome?>'</div>
    <?php echo $this->getAlert($this->_ctrl);?>
    <div class="formulario">
        <?php echo $this->partial('partes/form');?>
    </div>
</div>