<?php
$rows = $this->rows;
$nav = $this->helper->navegacao();
?>
<div class="janela">
    <div class="barra-titulo">Comentários</div>
    <?php echo $this->getAlert($this->_ctrl);?>
	<div class="area-pesquisa">
    <?php echo $this->helper->easyForms(array(
            'status' => array(
                'label' => 'Status',
                'type' => 'select',
                'option' => array('0'=>'Desativado','1'=>'Ativado'),
                'value' => $this->filters['status']
            ),
            'email' => array(
                'label' => 'E-mail',
                'type' => 'string',
                'value' => $this->filters['email']
            )
        ))->filterGet('',"form-{$this->_permalink}-{$this->_ctrl}");
    ?>
    </div>
    <div class="janela-interior">
        <div class="botoes-extras">
            <?php echo $this->helper->easyForms(array(
                ''=>'Mais recentes',
                'cri-a'=>'Mais velhos',
                'sd'=>'Publicados',
                'sa'=>'Bloqueados'
            ))->orderGet('form-order-'.$this->_ctrl)?>
        </div>
        <div class="listagem">
            <table width="100%" cellspacing="0" class="tabela">
                <thead>
                    <tr>
                        <th width="10">Status</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Página</th>
                        <th width="102">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <?php echo $this->helper->html($rows)->semRegistro();
                    foreach($rows as $row): ?>
                    <tr>
                        <td class="status-col status-<?php echo $row->status;?>"><?php echo $row->status;?></td>
                        <td><?php echo $row->nome;?></td>
                        <td><?php echo $row->email;?></td>
                        <td>
							<?php echo $row->pagina('titulo')->titulo;?>
						</td>
                        <td class="acoes">
                            <?php $nav->acoesGrid($this->_ctrl,'editar','id/'.$row->id); ?>
                            <?php $nav->acoesGrid($this->_ctrl,'deletar','id/'.$row->id); ?>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <div id="paginador">
            <?php echo $this->pgr;?>
        </div>
    </div>
</div>