<?php
$form = new Cylix_Form();
$name = $form->radio('status', (is_string($this->reg->status)) ? $this->reg->status : (int)$this->request->getParam('status'), array('Bloqueado', 'Publicado'));
$form->label('Status', $name);
$name = $form->text('mensagem', (is_string($this->reg->mensagem)) ? $this->reg->mensagem : $this->request->getParam('mensagem'), false);
$form->label('Mensagem', $name);
$form->submit('s', 'Salvar');
$form->button('c', 'Voltar', 'button', null, array('onclick' => "window.location = '" . getBaseUrl($this->_permalink . '/' . $this->_ctrl) . "';"));
$pagina = $this->reg->pagina('paginas.id,paginas.titulo,paginas.areas_id');
echo $form->ini();
?>
<fieldset>
    <legend>Registro</legend>
    <div class="bloco">
        <?php echo $form->get('status'); ?>
    </div>
    <div class="bloco">
        <div class="label">Nome</div>
		<input type="text" disabled="disabled" value="<?php echo $this->reg->nome;?>" class="input-string" />
    </div>
    <div class="bloco">
        <div class="label">E-mail</div>
		<input type="text" disabled="disabled" value="<?php echo $this->reg->email;?>" class="input-string" />
    </div>
    <div class="bloco">
        <div class="label">Página</div>
		<a target="_blank" href="<?php echo getBaseUrl($this->_permalink.'/paginas/editar/id/'.$pagina->id.'/area/'.$pagina->areas_id);?>" title="Ver" class="ver"><?php echo $pagina->titulo;?></a>
    </div>
    <div class="bloco">
        <?php echo $form->get('mensagem'); ?>
    </div>
</fieldset>
<div class="bloco">
    <?php echo $form->get('c'); ?>
    <?php echo $form->get('s'); ?>
</div>
<?php echo $form->end();?>