<?php
Cylix_App::setCSS('tipsy', getBaseUrl('lib/tipsy/tipsy_admin.css'));
Cylix_App::setJS('tipsy', getBaseUrl('lib/tipsy/jquery.tipsy.js'));
$m = ConfigsModel::me();
//buscando o grupo
$grupo = ConfigGruposModel::me()->find($this->g_id);
//registros
$sql = $m->select()->where('config_grupos_id = ?', $this->g_id)->orderBy('ordem');
//montando um form pra cada tipo de config
$form = new Cylix_Form('', 'post', 'form', Cylix_Form::ENCTYPE_MULTIPART);
$form->setDecoration();
$rows = $m->exec($sql);
foreach ($rows as $row) {
    $tipo = $row->tipo;
    switch ($tipo) {
        case 'html':
            $tema = (strlen($row->options) > 0) ? $row->options : Cylix_Form::CKEDITOR_BASICO;
            $form->html("{$row->chave}", $row->valor, false, $tema, 'admin');
            break;
        case 'select':
            if (strlen($row->options)) {
                eval('$opt = ' . $row->options . ';');
            }
            $form->select("{$row->chave}", $row->valor, $opt, false);
            break;
        case 'booelan':
			$opt = array('0'=>'Não','1'=>'Sim');
            $form->select("{$row->chave}", $row->valor, $opt, false);
            break;
        case 'file':
            $form->upload($row->chave, $row->valor, false, "pdf|doc|docx|rtf|txt|xls|xlsx|ppt|pps|pptx|ppsx");
            break;
        case 'image':
            $form->image($row->chave, $row->valor, false);
            break;
        case 'mask':
            if (strlen($row->options)) {
                eval('$opt = ' . $row->options . ';');
            }
            $form->mask($row->chave, $row->valor, $opt, false);
            break;
        default:
            $form->$tipo("{$row->chave}", $row->valor, false);
            break;
    }
    $form->label($row->descricao, $row->chave, $row->help);
}
$form->button('s', 'Salvar', 'submit');
?>
<div class="janela">
    <div class="barra-titulo">Configurações de <?php echo $grupo->nome; ?></div>
    <?php echo $this->getAlert($this->_ctrl); ?>
    <div class="formulario form-configs">
        <?php echo $form; ?>
    </div>
    <div class="help-hidden" style="display: none;">
        <img src="<?php echo getSkinUrl('img/help.png'); ?>" alt="?" class="img-help" />
    </div>
</div>
<script type="text/javascript">
    $j('.formulario .label').each(function(){
        var tit = $j(this).attr('title');
        if(tit.length > 1){
            //icone de ajuda
            $j(this).append($j('.help-hidden').html());
            //tratando o title como original-title
            $j(this).removeAttr('title');
            $j(this).find('.img-help').attr('original-title',tit);
            //tipsy
            $j(this).find('.img-help').tipsy({
                gravity: 'se',
                html: true,
                fade: false
            });
        }
    });
</script>