<?php
$post = $this->getRequest()->getPost();
Cylix_App::setJS('navegadores', getSkinUrl('js/navegadores.js'));
$form = new Cylix_Form('', Cylix_Form::METHOD_POST, 'form-login');
$form->email('login',$post['login']);
$form->password('senha');
$form->submit('bte', 'Atenticar');
$rs_form = new Cylix_Form(getBaseUrl($this->_permalink.'/login/redefinir-senha'), Cylix_Form::METHOD_POST, 'form_senha',null,array('class'=>'formulario'));
$rs_form->email('email');
$rs_form->submit('s', 'Enviar');
?>
<div class="barra-titulo">Área administrativa</div>
<?php echo $this->getAlert('login'); ?>
<div class="area">
    <?php
    echo $form->ini();
    ?>
    <div class="bloco">
        <?php echo $form->label('Login', 'login');?>
        <div class="input">
            <?php echo $form->get('login');?>
        </div>
    </div>
    <div class="bloco">
        <?php echo $form->label('Senha', 'senha');?>
        <div class="input">
            <?php echo $form->get('senha');?>
        </div>
    </div>
    <div class="bloco">
        <div class="area-botao area-botao_bte">
            <?php echo $form->get('bte');?>
        </div>
    </div>
    <?php echo $form->end();?>
    <div id="lembrete-senha">
        <a href="javascript:" onclick="lembrarSenha();">Esqueci minha senha</a>
    </div>
</div>
<div id="aviso-navegadores" style="display: none" class="box-alerta box-alerta-aviso">
    Seu navegador é impróprio para esta área, favor utilizar outro ou baixe agora um novo:
    <div class="navegadores">
        <a href="http://www.google.com/chrome/" target="_blank" title="Google Chrome"><img src="<?php echo getSkinUrl('img/logo_chrome.png'); ?>" alt="" /></a>
        <a href="http://www.mozilla.com/pt-BR/firefox/?from=getfirefox" title="Mozilla Firefox" target="_blank"><img src="<?php echo getSkinUrl('img/logo_firefox.png'); ?>" alt="" /></a>
        <a href="http://www.apple.com/br/safari/download/" target="_blank" title="Apple Safari"><img src="<?php echo getSkinUrl('img/logo_safari.png'); ?>" alt="" /></a>
    </div>
</div>
<div id="caixa-dialogo">
    <div class="janela-interior">
        <?php echo $rs_form->ini();?>
        <div class="bloco">
            <?php echo $rs_form->label('Digite seu e-mail', 'email');?>
            <div class="input">
                <?php echo $rs_form->get('email');?>
            </div>
        </div>
        <div class="bloco">
            <?php echo $rs_form->get('s');?>
        </div>
        <?php echo $rs_form->end();?>
    </div>
</div>