<?php
$form = new Cylix_Form();
$name = $form->string('titulo', (is_string($this->reg->titulo)) ? $this->reg->titulo : $this->request->getParam('titulo'));
$form->label('Título', $name);
/*$contextos = ContextosModel::me()->all('titulo');
$opt = array();
foreach ($contextos as $cada) {
    $opt[$cada->chave] = $cada->titulo;
}
$name = $form->select('contexto', (is_string($this->reg->contexto)) ? $this->reg->contexto : $this->request->getParam('contexto'), $opt, false, " - ");
$form->label('Layout', $name);*/
$name = $form->radio('status', (is_string($this->reg->status)) ? $this->reg->status : (int)$this->request->getParam('status'), array('Bloqueado', 'Publicado'));
$form->label('Status', $name);
$name = $form->string('permalink', (is_string($this->reg->permalink)) ? $this->reg->permalink : $this->request->getParam('permalink'), false);
$form->label('Link direto (Permalink)', $name);
$name = $form->string('seo_title', (is_string($this->reg->seo_title)) ? $this->reg->seo_title : $this->request->getParam('seo_title'), false, 1, 200);
$form->label('Título (SEO)', $name);
$name = $form->text('seo_keywords', (is_string($this->reg->seo_keywords)) ? $this->reg->seo_keywords : $this->request->getParam('seo_keywords'), false);
$form->label('Palavras-chave (SEO)', $name);
$name = $form->text('seo_description', (is_string($this->reg->seo_description)) ? $this->reg->seo_description : $this->request->getParam('seo_description'), false, 1, 255);
$form->label('Descrição (SEO)', $name);
$name = $form->radio('back_link', (is_string($this->reg->back_link)) ? $this->reg->back_link : (int)$this->request->getParam('back_link'), array('Não incluir a área (padrão)', 'Incluir o permalink da área'));
$form->label('Para conteúdos gerados', $name);
$form->submit('s', 'Salvar');
$form->button('c', 'Voltar', 'button', null, array('onclick' => "window.location = '" . getBaseUrl($this->_permalink . '/' . $this->_ctrl) . "';"));
echo $form->ini();
?>
<fieldset>
    <legend>Cadastro</legend>
    <div class="bloco">
        <?php echo $form->get('status'); ?>
    </div>
    <div class="bloco">
        <?php echo $form->get('titulo'); ?>
    </div>
    <div class="bloco">
        <?php echo $form->get('permalink'); ?>
        <input type="hidden" name="autolink" value="0" />
        <label><input type="checkbox" name="autolink" value="1" />Gerar automaticamente</label>
    </div>
    <div class="bloco">
        <?php echo $form->get('contexto'); ?>
    </div>
    <div class="bloco">
        <?php echo $form->get('seo_title'); ?>
    </div>
    <div class="bloco">
        <?php echo $form->get('seo_description'); ?>
    </div>
    <div class="bloco">
        <?php echo $form->get('seo_keywords'); ?>
    </div>
    <div class="bloco">
        <?php echo $form->get('back_link'); ?>
    </div>
</fieldset>
<div class="bloco">
    <?php echo $form->get('c'); ?>
    <?php echo $form->get('s'); ?>
</div>
<?php echo $form->end();?>