<?php 
$nav = $this->helper->navegacao();
$area = $this->pagina->area();
?>
<script type="text/javascript">
function atualizaTabela(){
    $j.ajax({
        url: "<?php echo getBaseUrl($this->_permalink.'/midias/index/id/'.$this->pagina->id)?>",
        data: ({layout: 'ajax'}),
        cache: false,
        complete: function(html) {
            //atualiza a tabela
            $j('.todas-midias tbody.midias').html(html.responseText);
            $j('.listagem .tabela tbody tr:odd').addClass('zebra');
            get_prettyphoto();
        }
    });
}
</script>
<script type="text/javascript" src="<?php echo getSkinUrl('js/midias.js')?>"></script>
<div class="janela">
    <div class="barra-titulo">Mídias para '<?php echo $this->pagina->titulo ?>'</div>
    <?php echo $this->getAlert($this->_ctrl); ?>
    <div class="formulario">
        <table id="tabela-area-midias" width="100%">
            <tr>
                <td class="col1" width="50%">
                    <fieldset>
                        <legend>Todas as mídias</legend>
                        <div class="listagem todas-midias janela-interior">
                            <form action="<?php echo ($nav->permissao($this->_ctrl,'deletar')) ? getBaseUrl($this->_permalink.'/midias/deletar') : ''?>" method="post" id="form_del_midias">
                                <div class="botoes-janela">
                                    <?php if($nav->permissao($this->_ctrl,'deletar')): ?>
                                    <input type="button" class="input-button" value="Excluir selecionadas" onclick="excluirMidias()" />
                                    <?php endif; ?>
                                </div>
                                <input type="hidden" name="c" value="<?php echo $this->pagina->id;?>" />
                                <table width="100%" cellspacing="0" class="tabela">
                                    <thead>
                                        <tr>
                                            <th width="20">
                                                <img src="<?php echo getSkinUrl('img/deletar.png')?>" alt="" title="Selecionar Tudo" onclick="selecionarTM()" />
                                            </th>
                                            <th width="30">Ordem</th>
                                            <th>Nome</th>
                                            <th width="50">Tipo</th>
                                            <th width="40">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody class="midias">
                                        <?php echo $this->partial('index_ajax');?>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </fieldset>
                </td>
                <td class="col2" width="50%">
                    <?php if($nav->permissao($this->_ctrl,'novo')): ?>
                    <?php if($area->contexto != 'fotos'){ ?>
                    <fieldset<?php if(!$this->flag_videos): ?> style="display: none;"<?php endif; ?>>
                        <legend>Vídeos Externos</legend>
                        <?php echo $this->f_videos; ?>
                    </fieldset><?php } ?>
                    <fieldset<?php if(!$this->flag_arquivos): ?> style="display: none;"<?php endif; ?>>
                        <legend>Arquivos / Fotos</legend>
                        <small>
                            - Arquivos de extensão <b>jpeg, jpg, gif e png</b> serão consideradas <b>Fotos</b>. <br/>
                            - Arquivos de extensão <b>mp3, mpeg e wav</b> serão consideradas <b>Áudios</b>, para os demais o tipo será automaticamente definido como <b>Arquivo</b>.
                        </small>
                        <?php echo $this->partial('partes/arquivos');?>
                    </fieldset>
                    <?php endif; ?>
                </td>
            </tr>
        </table>
    </div>
</div>