<?php
$rows = $this->midias;
$nav = $this->helper->navegacao();

foreach ($rows as $row): ?>
    <tr id="midia_linha_<?php echo $row->id; ?>">
        <td><input type="checkbox" name="midias[]" value="<?php echo $row->id; ?>" /></td>
        <td class="m-ordem"><?php echo $row->ordem; ?></td>
        <td class="m-titulo"><?php echo $row->titulo; ?></td>
        <td>
        <?php
            switch ($row->tipo){
                case MidiasModel::ARQUIVOS:
                    echo "Arquivo";
                    break;
                case MidiasModel::FOTOS:
                    echo "Foto";
                    break;
                case MidiasModel::VIDEOS:
                    echo "Vídeo";
                    break;
                case MidiasModel::AUDIOS:
                    echo "Áudio";
                    break;
                case MidiasModel::STREAM:
                    echo "Stream";
                    break;
            }
        ?>
        </td>
        <td class="acoes">
        <?php if($nav->permissao($this->_ctrl,'index')): ?>
            <?php if($row->tipo == MidiasModel::FOTOS || $row->tipo == MidiasModel::VIDEOS): ?>
            <a class="ver" title="Ver" href="<?php echo getBaseUrl($row->caminho); ?>" rel="prettyPhoto[g<?php echo $row->tipo;?>]">&nbsp;</a>
            <?php else: ?>
            <a class="ver" title="Ver" href="<?php echo getBaseUrl($row->caminho); ?>" target="_blank">&nbsp;</a>
            <?php endif;?>
        <?php endif;?>
        <?php if($nav->permissao($this->_ctrl,'editar')): ?>
            <a title="Editar" class="editar" href="javascript:" onclick="editarMidia(<?php echo $row->id?>,<?php echo $row->tipo?>)">&nbsp;</a>
        <?php endif;?>
        </td>
    </tr>
<?php endforeach; ?>