<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title><?php echo html_entity_decode($this->content_seo_title);?></title>
        <meta name="author" content="Administrador">
        <?php if(ROBOTS):?><meta name="robots" content="index,follow" />
        <meta name="rating" content="general" />
        <meta name="fragment" content="!"/>
        <?php else:?><meta name="robots" content="noindex,nofollow" /><?php endif;?>
        <link rel='index' title='<?php echo ConfigsModel::getValor('seo_title');?>' href='<?php echo getUrl('');?>' />
        <meta name="description" content="<?php echo $this->content_seo_description;?>"/>
        <meta name="keywords" content="<?php echo $this->content_seo_keywords;?>"/>

        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- CSS
        ================================================== -->
        <!-- Bootstrap  -->
        <link type="text/css" rel="stylesheet" href="<?php echo getSkinUrl('bootstrap/css/bootstrap.min.css');?>">

        <!-- web font  -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,800" rel="stylesheet" type="text/css">

        <!-- plugin css  -->
        <link type="text/css" rel="stylesheet" href="<?php echo getSkinUrl('js-plugin/camera/css/camera.css');?>">
        <link type="text/css" rel="stylesheet" href="<?php echo getSkinUrl('js-plugin/ajax-contact-extend/assets/css/contact.css');?>"/>
        <link rel="stylesheet" type="text/css" href="<?php echo getSkinUrl('js-plugin/pretty-photo/css/prettyPhoto.css');?>" />
        <link rel="stylesheet" type="text/css" href="<?php echo getSkinUrl('js-plugin/rs-plugin/css/settings.css');?>" media="screen" />
        <link type="text/css" rel="stylesheet" href="<?php echo getSkinUrl('js-plugin/hoverdir/css/style.css');?>">

        <!-- icon fonts -->
        <link type="text/css" rel="stylesheet" href="<?php echo getSkinUrl('font-icons/custom-icons/css/custom-icons.css');?>">
        <link type="text/css" rel="stylesheet" href="<?php echo getSkinUrl('font-icons/custom-icons/css/custom-icons-ie7.css');?>">

        <!-- Custom css -->
        <link type="text/css" rel="stylesheet" href="<?php echo getSkinUrl('css/layout.css').'?v='.date('Ym');?>">
        <link type="text/css" id="colors" rel="stylesheet" href="<?php echo getSkinUrl('css/colors.css');?>">
        <link type="text/css" id="colors" rel="stylesheet" href="<?php echo getSkinUrl('css/red.css');?>">

        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->

        <!--[if gte IE 9]><style type="text/css">.iconBig, .active, .hover a , .Shover a { filter: none !important; } </style> <![endif]-->

        <script src="<?php echo getSkinUrl('js/modernizr-2.6.1.min.js');?>"></script>


        <!-- Favicons
        ================================================== -->
        <link rel="shortcut icon" href="<?php echo getSkinUrl('images/favicon.ico');?>">
        <link rel="apple-touch-icon" href="<?php echo getSkinUrl('images/apple-touch-icon.png');?>">
        <link rel="apple-touch-icon" sizes="72x72" href="<?php echo getSkinUrl('images/apple-touch-icon-72x72.png');?>">
        <link rel="apple-touch-icon" sizes="114x114" href="<?php echo getSkinUrl('images/apple-touch-icon-114x114.png');?>">
        <link rel="apple-touch-icon" sizes="144x144" href="<?php echo getSkinUrl('images/apple-touch-icon-144x144.png');?>">
        <script type="text/javascript" src="<?php echo getSkinUrl('js-plugin/respond/respond.min.js');?>"></script>
        <script type="text/javascript" src="<?php echo getBaseUrl('lib/jquery/jquery-1-8.js');?>"></script>
        <script type="text/javascript" src="<?php echo getBaseUrl('lib/cidades-estados-1.2-utf8.js');?>"></script>
        <script type="text/javascript" src="<?php echo getSkinUrl('js-plugin/jquery-ui/jquery-ui-1.8.23.custom.min.js');?>"></script>
		<style type="text/css">.box-alert p{margin: 0}</style>
        <?php echo Cylix_App::getStylesheets()."\n";?>
        <?php echo Cylix_App::getScripts()."\n";?>
		<script type="text/javascript" src="<?php echo getBaseUrl('lib/framework/funcoes.js');?>"></script>
        <script type="text/javascript">
            var BASE_URL = '<?php echo BASE_URL;?>';
            var SKIN_URL = '<?php echo getSkinUrl('');?>';
            var SITE_URL = '<?php echo ABSOLUTE_URL;?>';
            var PERMALINK = '<?php echo $this->_permalink;?>';
            var AJAX_CONTENT = 'body #content .container';<?php //cascata que o ajax vai pegar ?>
			var UA = '<?php echo raw(ConfigsModel::getValor('seo_g_a'))?>';
        </script>

    </head>
    <body onLoad="initialize('mapWrapperFullwidth')" class="<?php echo $this->_ctrl;?>-ctrl <?php echo $this->_ctrl.'-'.$this->_action;?>">
        <!-- header -->
        <header id="mainHeader" class="clearfix">
			<?php echo $this->partial('header',false);?>
        </header>
        <!-- header --> 


        <!-- globalWrapper --> 
        <div id="globalWrapper">
			
			<?php echo $this->slider;?>

			<!-- content -->
			<?php echo $this->yield;?>
            <!-- content -->



            <!-- footer -->
			
            <footer class="footer2" id="footerRights">
				<?php echo $this->partial('footer',false);?>
            </footer>
            <!-- footer -->


        </div>
        <!-- global wrapper -->


        <!-- End Document 
        ================================================== -->


		<?php if(ENV!='local'){ ?>
        <!--script src="http://maps.google.com/maps/api/js?sensor=false');?>"></script-->
		<?php } ?>

        <!-- third party plugins  -->
        <script type="text/javascript" src="<?php echo getSkinUrl('bootstrap/js/bootstrap.js');?>"></script>
        <script type="text/javascript" src="<?php echo getSkinUrl('bootstrap/js/bootstrap-carousel.js');?>"></script>
        <script type="text/javascript" src="<?php echo getSkinUrl('js-plugin/easing/jquery.easing.1.3.js');?>"></script>
        <script type="text/javascript" src="<?php echo getSkinUrl('js-plugin/seaofclouds-tweet/tweet/jquery.tweet.js');?>"></script>
        <script type="text/javascript" src="<?php echo getSkinUrl('js-plugin/camera/camera.min.js');?>"></script>
        <script type="text/javascript" src="<?php echo getSkinUrl('js-plugin/ajax-contact-extend/assets/js/jquery.jigowatt.js');?>"></script>
        <script type="text/javascript" src="<?php echo getSkinUrl('js-plugin/pretty-photo/js/jquery.prettyPhoto.js');?>"></script>
        <script type="text/javascript" src="<?php echo getSkinUrl('js-plugin/hoverdir/jquery.hoverdir.js');?>"></script>

		<!-- jQuery KenBurn Slider  -->
        <script type="text/javascript" src="<?php echo getSkinUrl('js-plugin/rs-plugin/js/jquery.themepunch.plugins.min.js');?>"></script>
        <script type="text/javascript" src="<?php echo getSkinUrl('js-plugin/rs-plugin/js/jquery.themepunch.revolution.min.js');?>"></script>


        <!-- Custom  -->
        <script type="text/javascript" src="<?php echo getSkinUrl('js/custom.js');?>"></script>
        <?php
        echo $this->content_script."\n";
        ?>

        <script type="text/javascript">
			if(UA.length > 1){
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', UA]);
				_gaq.push(['_trackPageview']);

				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			}
			
			(jQuery)(function($){ /* troca de classes */
				
				$('div.box-alert').removeClass('box-alert').addClass('box-alert alert fade in');

				$('div.box-alert-ok').removeClass('box-alert-ok').addClass('alert-success');

				$('div.box-alert-info').removeClass('box-alert-info').addClass('alert-info');

				$('div.box-alert-error').removeClass('box-alert-error').addClass('alert-danger');
				
			});

        </script>
    </body>
</html>