<?php
$form = new Cylix_Form();
$name = $form->string('titulo', (is_string($this->reg->titulo)) ? $this->reg->titulo : $this->request->getParam('titulo'));
$form->label('Título', $name);
$name = $form->radio('status', (is_string($this->reg->status)) ? $this->reg->status : (int)$this->request->getParam('status'), array('Bloqueado', 'Publicado'));
$form->label('Status', $name);
$name = $form->string('url', (is_string($this->reg->url)) ? $this->reg->url : $this->request->getParam('url'), true);
$form->label('URL completa', $name);
$name = $form->datetime('criacao', (is_string($this->reg->criacao)) ? substr($this->reg->criacao,0,16) : substr($this->request->getParam('criacao'),0,16), false);
$form->label("Data", $name);
$form->submit('s', 'Salvar');
$form->button('c', 'Voltar', 'button', null, array('onclick' => "window.location = '" . getBaseUrl($this->_permalink . '/' . $this->_ctrl) . "';"));
echo $form->ini();
?>
<fieldset>
    <legend>Cadastro</legend>
    <div class="bloco">
        <?php echo $form->get('status'); ?>
    </div>
    <div class="bloco">
        <?php echo $form->get('titulo'); ?>
    </div>
    <div class="bloco">
        <?php echo $form->get('url'); ?>
    </div>
    <div class="bloco">
        <?php echo $form->get('criacao'); ?>
    </div>
</fieldset>
<div class="bloco">
    <?php echo $form->get('c'); ?>
    <?php echo $form->get('s'); ?>
</div>
<?php echo $form->end();?>