<style type="text/css">
    #help-terminal-html{
        color:white;
    }
    #help-terminal-html .area-help{
        border-bottom: 1px dotted #999;
        padding: 5px;
    }
    #help-terminal-html .area-help .title{
        cursor: pointer;font-weight: bold;
    }
    #help-terminal-html .area-help .ex{
        display: none;
    }
</style>
<script type="text/javascript">
    jQuery(function($){
        $('.title').click(function(){
            $j(this).next('.ex').toggle(0);
        });
    });
</script>
<div id="help-terminal-html">
    <div class="area-help">
        <div class="title">login(pass)</div>
        <div class="ex">
            safe login 123456
        </div>
    </div><!-- end -->
    <div class="area-help">
        <div class="title">logout()</div>
        <div class="ex">
            logout
        </div>
    </div><!-- end -->
    <div class="area-help">
        <div class="title">lock()</div>
        <div class="ex">
            safe lock
        </div>
    </div><!-- end -->
    <div class="area-help">
        <div class="title">unlock(num)</div>
        <div class="ex">
            unlock 0 - blokeia<br/>
            unlock 1/N - desblokea
        </div>
    </div><!-- end -->
    <div class="area-help">
        <div class="title">chmod(path)</div>
        <div class="ex">
            chmod * - todas as pastas que precisam de escrita (tmp, skin, etc.)<br/>
            chmod uploads - pasta especificada a partir da www
        </div>
    </div><!-- end -->
    <div class="area-help">
        <div class="title">touch(tipo flow)</div>
        <div class="ex">
            touch sass site - toca os arquivos desta pasta que não possuem '_'<br/>
            touch sass admin<br/>
            touch less site
        </div>
    </div><!-- end -->
    
    <div class="area-help">
        <div class="title">clear-tmp(pasta1 pasta2 pasta3)</div>
        <div class="ex">
            pastas especificas em sys/tmp<br/>
            clear-tmp sass view etc...
        </div>
    </div><!-- end -->
    <div class="area-help">
        <div class="title">clear-uploads(pasta1 pasta2 pasta3)</div>
        <div class="ex">
            pastas especificas em www/uploads/<br/>
            clear-uploads midias banners etc...
        </div>
    </div><!-- end -->
    <div class="area-help">
        <div class="title">create(p1 p2 p3)</div>
        <div class="ex">
            gerador de php's<br/>
            create controller flow class-name<br/>
            create controller terminal teste-simples<br/>
            create model table class-name<br/>
            create model row class-name<br/>
            create skin skin-name<br/>
            create skin natal<br/>
        </div>
    </div><!-- end -->
    <div class="area-help">
        <div class="title">sql create(table-name)</div>
        <div class="ex">
            cria arquivos .sql para controle de versão do banco (migrations)<br/>
            sql create usuarios<br/>
            sql create add-flagteste
        </div>
    </div><!-- end -->
    <div class="area-help">
        <div class="title">sql run(versao1 versao2 ... config)</div>
        <div class="ex">
            os primeiro parametros devem ser numeros das versões<br/>
            caso precise referenciar outro banco que não seja o deafult, passa por ultimo<br/>
            sql run 20122001015728<br/>
            sql run 20122001015728 20122001015729 20122001015730<br/>
            sql run 20122001015728 default<br/>
            sql run 20122001015728 sistema-externo
        </div>
    </div><!-- end -->
    <div class="area-help">
        <div class="title">sql status()</div>
        <div class="ex">
            lista todas as versões da pasta sql e exibe qual foi o ultimo arquivo .sql executado pelo run (destacando mais forte a atual)<br/>
            sql status
        </div>
    </div><!-- end -->
    <div class="area-help">
        <div class="title">sql set-status(versao)</div>
        <div class="ex">
            indica, modo forçado, qual será a versão atual do seu banco (somente para controle)<br/>
            sql set-status 20122001015728
        </div>
    </div><!-- end -->
</div>