<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt_BR" lang="pt_BR">
    <head>
        <title><?php echo $this->MetaTagTitle;?></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="Content-language" content="pt_BR" />
        <meta name="robots" content="nofollow, ALL" />
        <link rel="shortcut icon" href="<?php echo getSkinUrl('favicon.ico'); ?>"/>
        <script type="text/javascript">
            var BASE_URL = '<?php echo BASE_URL;?>';
            var SITE_URL = '<?php echo ABSOLUTE_URL;?>';
            var PERMALINK = '<?php echo $this->_permalink;?>';
        </script>
        <?php echo $this->partial('includes',false);?>
        <?php echo Cylix_App::getScripts();?>
    </head>
    <body>
        <div id="main">
            <?php if($this->_ctrl == 'login') : ?>
            <div id="login-box">
                <?php echo $this->yield;?>
            </div>
            <?php else: ?>
            <div id="header">
                <?php echo $this->partial('header',false);?>
            </div>
            <div id="miolo">
                <div id="sidebar">
                    <?php echo $this->partial('sidebar',false);?>
                </div>
                <div id="container">
                    <?php echo $this->yield;?>
                </div>
                <div class="clear"></div>
            </div><!-- fim miolo -->
            <div id="rodape">Cylix CMS - Design by <a title="Ferramentas para Web" href="http://www.ferramentasparaweb.com.br/lsc-cms" target="_blank">Ferramentas Para Web</a></div>
            <?php endif; ?>
        </div>
    </body>
</html>
