<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt_BR" lang="pt_BR">
    <head>
        <title><?php echo $V->getTitulo(); ?></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="Content-language" content="pt_BR" />
        <?php echo $V->getParte('includes');?>
        <?php echo $V->getScripts(); ?>
    </head>
    <body id="popup">
        <div class="conteudo">
            <?php echo $V->conteudo?>
        </div>
    </body>
</html>
