<?php
$u = $this->logado;
?>
<div id="logo">
    <a title="Home - Admin" href="<?php echo getBaseUrl($this->_permalink)?>">
        <img alt="Cylix CMS" src="<?php echo getSkinUrl('img/logo_admin.jpg');?>"  style="max-height: 64px;"/>
		<div class="topoAzul">Dashboard</div>
    </a>
</div>
<div class="bem-vindo">Bem-vindo, <strong><?php echo $u->nome;?></strong></div>
<div class="sair">
    <a href="<?php echo getBaseUrl($this->_permalink.'/login/sair')?>" title="Sair" onclick="$j.cookie('nav-browser',null,{path:'/'});">SAIR</a>
</div>
<div class="senha">
    <a href="<?php echo getBaseUrl($this->_permalink.'/moderadores/senha')?>" title="Alterar senha" onclick="$j.cookie('nav-browser',null,{path:'/'});">Alterar senha</a>
</div>