<?php 
$u = $this->logado;
?>
<div class="geral">
    <a href="<?php echo getBaseUrl("$this->_permalink/")?>">
        <img src="<?php echo getSkinUrl('img/ico_geral.png');?>" alt="" />
        GERAL
    </a>
</div>
<!-- JQuery TreeView -->
<?php 
$cache = Cylix_Cache::me();
$name = 'admin-sidebar';
$time = (ENV!='local')?50:1;
$cache->lifetime($time);
$cache->type(Cylix_Cache::TYPE_VIEW);
if($cache->isValid($name)){
    echo $cache->get($name);
}else{
    ob_start();
    echo $this->helper->navegacao()->treeviewAdmin($u->permissoes,$u->is_root);
    $c = ob_get_clean();
    $cache->set($name, $c);
    echo $c;
}
?>
<script type="text/javascript">
    //<![CDATA[
    $j(document).ready(function($j){
        $j("#browser").treeview({
            animated: "fast",
            persist: "cookie"
        })
    });
    $j('.tabela tbody tr:odd').addClass('zebra');
    //]]>
</script>