<div class="janela">
    <div class="barra-titulo">Editando '<?php echo $this->reg->title?>'</div>
    <?php echo $this->getAlert($this->_ctrl);?>
    <div class="formulario">
        <?php echo $this->partial('partes/form');?>
    </div>
</div>