<?php
$rows = $this->rows;
$nav = $this->helper->navegacao();
?>
<div class="janela">
    <div class="barra-titulo">Revistas</div>
    <?php echo $this->getAlert($this->_ctrl);?>
	<div class="area-pesquisa">
    <?php echo $this->helper->easyForms(array(
            'status' => array(
                'label' => 'Status',
                'type' => 'select',
                'option' => array('0'=>'Desativado','1'=>'Ativado'),
                'value' => $this->filters['status']
            ),
            'data' => array(
                'label' => 'Data Publicação',
                'type' => 'date',
                'value' => $this->filters['data']
            ),
            'title' => array(
                'label' => 'Título',
                'type' => 'string',
                'large' => true,
                'value' => $this->filters['title']
            )
        ))->filterGet('',"form-{$this->_permalink}-{$this->_ctrl}");
    ?>
    </div>
    <div class="janela-interior">
        <?php if($nav->permissao($this->_ctrl,'novo')): ?>
        <div class="botoes-janela">
            <?php $nav->acoesGrid($this->_ctrl,'novo'); ?>
        </div>
        <?php endif; ?>
        <div class="botoes-extras">
            <?php echo $this->helper->easyForms(array(
                ''=>'Mais recentes',
                'cri-a'=>'Mais velhos',
                'a-z'=>'Título A-Z',
                'z-a'=>'Título Z-A',
                'sd'=>'Publicados',
                'sa'=>'Bloqueados'
            ))->orderGet('form-order-'.$this->_ctrl)?>
        </div>
        <div class="listagem">
            <table width="100%" cellspacing="0" class="tabela">
                <thead>
                    <tr>
                        <th width="10">Status</th>
                        <th>#ID</th>
                        <th>Título</th>
                        <th>Capa</th>
                        <th>URL</th>
                        <th>Publicação</th>
                        <th width="102">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($rows as $row): 
                        ?>
                    <tr>
                        <td class="status-<?php echo $row->status;?>">&nbsp;</td>
                        <td><?php echo strip_tags($row->doc_id);?></td>
                        <td><?php echo strip_tags($row->title);?></td>
                        <td>
                            <a href="<?php echo $row->url;?>" target="_blank">
                                <img src="<?php echo $row->image_small;?>" alt="..." style="width:50px;height: auto;" />
                            </a>
                        </td>
                        <td><?php echo strip_tags($row->url);?></td>
                        <td><?php echo $this->helper->formatar($row->data)->data();?></td>
                        <td class="acoes">
                            <?php $nav->acoesGrid($this->_ctrl,'editar','id/'.$row->id); ?>
                            <?php $nav->acoesGrid($this->_ctrl,'deletar','id/'.$row->id); ?>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        
        <div id="paginador">
            <?php echo $this->pgr;?>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(function($){
        //$('.listagem table td').css('vertical-align','middle');
    });
</script>