<!DOCTYPE html>
<html><!-- variaveis: nome email tel data titulo -->
    <head>
        <title>{{titulo}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <style type="text/css">
            body{
                font-family: arial, sans-serif;
                font-size: 12px;
            }
        </style>
    </head>
    <body>
        <p>
            <b>Nome:</b> {{nome}}<br/>
            <b>E-mail:</b> {{email}}<br/>
            <b>Tel.:</b> {{tel}}<br/>
        </p>
        <p>
            {{msg}}
        </p>
        <small>{{data}}</small>
    </body>
</html>
