<!DOCTYPE html>
<html><!-- variaveis: email senha data titulo -->
    <head>
        <title>{{titulo}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <style type="text/css">
            body{
                font-family: arial, sans-serif;
                font-size: 12px;
            }
        </style>
    </head>
    <body>
        <p>
            Foi solicitado a renovação de sua senha!
        </p>
        <p>
            Seu login em nosso site deverá ser feito com as seguintes informações:<br/>
            <b>E-mail:</b> {{email}}<br/>
            <b>Senha:</b> {{senha}}<br/>
        </p>
    </body>
</html>
