<?php
$rows = $this->rows;
$area_id = $this->request->getParam('area');
$nav = $this->helper->navegacao();
?>
<div class="janela">
    <div class="barra-titulo">Conteúdos da área <?php echo $this->area->titulo;?></div>
    <?php echo $this->getAlert($this->_ctrl);?>
    <div class="area-pesquisa">
    <?php echo $this->helper->easyForms(array(
            'status' => array(
                'label' => 'Status',
                'type' => 'select',
                'blank' => 'right',
                'option' => array('0'=>'Desativado','1'=>'Ativado'),
                'value' => $this->filters['status']
            ),
            'titulo' => array(
                'label' => 'Título',
                'type' => 'string',
                'large' => true,
                'value' => $this->filters['titulo']
            )
        ))->filterGet('',"form-{$this->_permalink}-{$this->_ctrl}");
    ?>
    </div>
    <div class="janela-interior">
        <?php if($nav->permissao($this->_ctrl.'-'.$area_id,'novo','area/'.$area_id)): ?>
        <div class="botoes-janela">
            <?php $nav->acoesGrid($this->_ctrl,'novo','area/'.$area_id,'-'.$this->area->id); ?>
        </div>
        <?php endif; ?>
        <div class="botoes-extras">
            <?php echo $this->helper->easyForms(array(
                ''=>'Mais recentes',
                'id-a'=>'Mais velhos',
                'a-z'=>'Título A-Z',
                'z-a'=>'Título Z-A',
                'sd'=>'Publicados',
                'sa'=>'Bloqueados'
            ))->orderGet('form-order-'.$this->_ctrl)?>
        </div>
        <div class="listagem">
            <table width="100%" cellspacing="0" class="tabela tablesorter sorter-grid">
                <thead>
                    <tr>
                        <th width="10">Status</th>
                        <th>Título</th>
                        <th>Permalink</th>
                        <th width="102">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <?php echo $this->helper->html($rows)->semRegistro();
                    foreach($rows as $row): ?>
                    <tr>
                        <td class="status-col status-<?php echo $row->status;?>"><?php echo $row->status;?></td>
                        <td><?php echo $row->titulo;?></td>
                        <td><?php echo $row->permalink;?></td>
                        <td class="acoes">
                            <?php if(strlen($row->permalink) > 1): ?>
                            <a target="_blank" href="<?php echo getBaseUrl($row->permalink);?>" title="Ver" class="ver">&nbsp;</a>
                            <?php else: ?>
                            <a target="_blank" href="<?php echo getBaseUrl('paginas/index/id/'.$row->id);?>" title="Ver" class="ver">&nbsp;</a>
                            <?php endif; ?>
                            <?php $nav->acoesGrid('paginas','publicar','id/'.$row->id."/area/$area_id",'-'.$this->area->id); ?>
                            <?php if($nav->permissao('paginas-'.$area_id, 'editar')): ?>
                                <a href="<?php echo getBaseUrl($this->_permalink.'/midias/index/id/'.$row->id);?>" title="Mídias" class="midias">&nbsp;</a>
                            <?php endif; ?>
                            <?php $nav->acoesGrid('paginas','editar','id/'.$row->id."/area/$area_id",'-'.$this->area->id,'Editar Registro'); ?>
                            <?php (!$row->proteger) ? $nav->acoesGrid('paginas','deletar','id/'.$row->id."/area/$area_id",'-'.$this->area->id,'Excluir Registro') : ''; ?>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <div id="paginador">
            <?php echo $this->pgr;?>
        </div>
    </div>
</div>