<div class="janela">
    <div class="barra-titulo">Novo <?php echo ($this->area->contexto == 'fotos') ? 'Álbum':'Conteúdo';?> para área <?php echo $this->area->titulo ?></div>
    <?php echo $this->getAlert($this->_ctrl);?>
    <div class="formulario">
        <?php echo $this->partial('partes/form')?>
    </div>
</div>