<!DOCTYPE html>
<html>
    <head>
        <title><?php echo $this->MetaTagTitle;?></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="Content-language" content="pt_BR" />
        <meta name="robots" content="nofollow" />
        <link rel="shortcut icon" href="<?php echo getBaseUrl('favicon.ico'); ?>"/>
        <script type="text/javascript">
            var BASE_URL = '<?php echo BASE_URL;?>';
            var ABSOLUTE_URL = '<?php echo ABSOLUTE_URL;?>';
            var PERMALINK = '<?php echo $this->_permalink;?>';
        </script>
        <?php echo $this->partial('includes',false);?>
        <?php echo Cylix_App::getScripts();?>
    </head>
    <body>
        <div id="terminal">
            <?php echo $this->yield;?>
        </div>
    </body>
</html>
