<?php
$AREA = $this->area;
$paginas = $this->rows;
$helperIMG = $this->helper->imagem();
$meses = array(
	'01'=>'Jan',
	'02'=>'Fev',
	'03'=>'Mar',
	'04'=>'Abr',
	'05'=>'Mai',
	'06'=>'Jun',
	'07'=>'Jul',
	'08'=>'Ago',
	'09'=>'Set',
	'10'=>'Out',
	'11'=>'Nov',
	'12'=>'Dez'
);
?>
<!-- title -->
<header class="headerPage">
	<div class="container clearfix"><?php $this->menu_active = 'noticias'; ?>
		<div class="row">
			<div class="" id="navTrail"> 
				<a href="<?php echo getBaseUrl(''); ?>" class="homeLink">home</a><span>/</span><span class="current"><?php echo $AREA->titulo; ?></span>  
			</div>
		</div>

	</div>
</header>
<!-- title -->

<!-- page content -->
<section id="content" class="blogHomeContent slice blog">


	<div class="container">
		<div class="row">

			<!-- post list -->
			<div class="span8">
				<?php if(count($paginas)){ 
					foreach($paginas as $pg){ 
						$data = ($pg->data)?$pg->data:first(explode(' ',$pg->cadastro));
						$dataEx = explode('-',$data);
						$helper = $this->helper->formatar();
						$mes = $helper->getMesNome($dataEx[1]);
						if($pg->capa){
							$helperIMG->setFile($pg->capa);
							$capa = getBaseUrl($helperIMG->resize(460));
						}else{
							$capa = getSkinUrl('images/blog-pic1.jpg');
						}
						
						?>
				<article>

					<header class="postHeader">
						<div class="row-fluid">
							<div class="span3 postDate"><?php echo (string)$dataEx[2];?> <span><?php echo substr($mes, 0,3);?></span></div>
							<div class="span9 postPic">

								<a href="<?php echo $pg->getUrl();?>">
									<div class="imgWrapper">
										<img src="<?php echo $capa;?>" alt="<?php echo $pg->titulo;?>"/> 
									</div>
								</a>
							</div>
						</div>
					</header>
					<div class="row">
						<section class="span6 offset2">
							<h2><?php echo $pg->titulo;?></h2>

							<ul class="entry-meta">
								<li class="entry-date"><i class="icon-clock"></i>postada em <?php echo $this->helper->formatar($data)->data();?></li>
								<li class="entry-comments"><i class="icon-comment"></i><?php echo $pg->countComentarios();?> comentário(s)</li>
							</ul>
							<p><?php echo nl2br($pg->descricao);?></p>
							<p> <a href="<?php echo $pg->getUrl();?>" class="moreLink">&rarr; Leia mais</a> </p>

						</section>

					</div>
				</article>
				<?php } ?>
				<div class="span12">
				<?php echo $this->pgr;?>
				</div>
				<?php }else{ ?>
				<i>Em breve...</i>
				<?php } ?>
			</div>


			<!-- Sidebar -->
			<aside class="span3 pull-right">

				<section class="widget">
					<h3>Filtre por data:</h3>
					<div class="divider"><span></span></div>
					<ul>
						<li><a href="?data=" class="current">TODOS</a>
						<?php $filtros = PaginasModel::me()->getFiltroDatas($AREA->id);
						$helper = $this->helper->formatar();
						foreach($filtros as $f){
							$data = explode('-',$f->data_p);
						?><li><a href="?data=<?php echo $f->data_p;?>">
								<?php echo $helper->getMesNome($data[0]);?> / <?php echo $data[1];?>
							</a></li>
						<?php } ?>
					</ul>
				</section>

			</aside>
			<!-- Sidebar -->

		</div>

	</div>
	<!-- blog content -->


</section>
<!-- page content -->