<?php
$AREA = $this->area;
$albuns = $this->rows;
$helperIMG = $this->helper->imagem();
?>
<!-- title -->
<header class="headerPage">
    <div class="container clearfix"><?php $this->menu_active = 'fotos'; ?>
        <div class="row">
            <div class="" id="navTrail"> 
                <a href="<?php echo getBaseUrl(''); ?>" class="homeLink">home</a><span>/</span><span class="current"><?php echo $AREA->titulo; ?></span>  
            </div>
        </div>

    </div>
</header> 
<!-- title -->
<section id="content" class="blogHomeContent slice blog">


    <div class="slice clearfix">
        <div class="container">
            <div class="row">
                <aside class="span3" id="sidebar">
                    <section>

                        <h2>Galeria de fotos</h2>
                        <div class="divider"><span></span></div>

                        <p>Filtre por data:</p>

                    </section>
                    <nav id="subnav">
                        <ul id="filter">
                            <li><a href="?data=" class="current">TODOS</a>
                                <?php
                                $filtros = PaginasModel::me()->getFiltroDatas($AREA->id);
                                $helper = $this->helper->formatar();
                                foreach ($filtros as $f) {
                                    $data = explode('-', $f->data_p);
                                    ?><li><a href="?data=<?php echo $f->data_p; ?>">
                                <?php echo $helper->getMesNome($data[0]); ?> / <?php echo $data[1]; ?>
                                    </a></li>
<?php } ?>
                        </ul>
                        <div class="littleShadow"></div>
                    </nav>


                </aside>

                <div class="span9">
                    <div class="row">
                        <div class="portfolio-items isotopeWrapper clearfix da-thumbs" id="3">
                            <?php if (count($albuns)) { ?>
                                <?php
                                foreach ($albuns as $album) {
                                    $i = 0;
                                    foreach ($album->midias($order = 'ordem,id DESC') as $f) {
                                        $helperIMG->setFile($f->caminho);
                                        ?>
            <?php if ($i == 0) { ?>
                                            <article class="span3 isotopeItem boxWrapper">
                                                <a href="<?php echo $helperIMG->resize(1000); ?>" class="prettyPhoto" rel="prettyPhoto[g<?php echo $album->id; ?>]">
                                                    <section>
                                                        <img alt="<?php echo $album->titulo; ?>" src="<?php echo $helperIMG->resize(220); ?>" />
                                                    </section>
                                                    <div>
                                                        <span class="iconWrapper iconLink"><i class="icon-search"></i></span> 
                                                    </div>
                                                </a>
                                                <section class="projectInfo"><h3><?php echo $album->titulo; ?></h3><p><?php echo cropText($album->descricao, 100); ?></p></section>
                                            </article>
                                        <?php } else { ?>
                                            <a href="<?php echo $helperIMG->resize(1000); ?>" style="display: none;" class="prettyPhoto" rel="prettyPhoto[g<?php echo $album->id; ?>]"></a>
                                        <?php }
                                        $i++;
                                        ?>
                                            <?php
                                        }
                                    }
                                    ?>
                                <div class="span12">
                                <?php echo $this->pgr; ?>
                                </div>
<?php } else { ?>
                                <i>Em breve...</i>
<?php } ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page content -->