<?php
$paginas = $this->rows;
$helperIMG = $this->helper->imagem();
$meses = array(
	'01'=>'Jan',
	'02'=>'Fev',
	'03'=>'Mar',
	'04'=>'Abr',
	'05'=>'Mai',
	'06'=>'Jun',
	'07'=>'Jul',
	'08'=>'Ago',
	'09'=>'Set',
	'10'=>'Out',
	'11'=>'Nov',
	'12'=>'Dez'
);
?>
<!-- title -->
<header class="headerPage">
	<div class="container clearfix"><?php #$this->menu_active = 'noticias'; ?>
		<div class="row">
			<div class="" id="navTrail"> 
				<a href="<?php echo getBaseUrl(''); ?>" class="homeLink">home</a><span>/</span><span class="current">Busca</span>  
			</div>
		</div>

	</div>
</header>
<!-- title -->

<!-- page content -->
<section id="content" class="blogHomeContent slice buscar">


	<div class="container">
		<div class="row">
            <h2 class="result-header">Resultado da busca por: <i>"<?php echo $_GET['q'];?>"</i></h2>
            <div class="divider"><span></span></div>
			<!-- post list -->
			<div class="row resultado-busca">
				<?php if(count($paginas)){ 
                ?><ul><?php
					foreach($paginas as $pg){  ?>
                    <li><article>
                        <div class="span12">
                            <h3>
                                <i class="icon-right-dir"></i><a href="<?php echo $pg->getUrl();?>"><?php echo $pg->titulo;?></a>
                            </h3>
                            <p><?php echo nl2br($pg->descricao);?></p>
                        </div>
                    </article></li>
				<?php } ?>
                </ul>
				<div class="span12">
				<?php echo $this->pgr;?>
				</div>
				<?php }else{ ?>
				<i>Em breve...</i>
				<?php } ?>
			</div>

		</div>

	</div>
	<!-- blog content -->


</section>
<!-- page content -->