<?php
$revistas = $this->rows;
?>
<!-- title -->
<header class="headerPage">
    <div class="container clearfix"><?php $this->menu_active = 'revista'; ?>
        <div class="row">
            <div class="" id="navTrail"> 
                <a href="<?php echo getBaseUrl(''); ?>" class="homeLink">home</a><span>/</span><span class="current">Revista</span>  
            </div>
        </div>

    </div>
</header> 
<!-- title -->
<section id="content" class="blogHomeContent slice blog content-revista">


    <div class="slice clearfix">
        <div class="container">
            <div class="row">
                <aside class="span3" id="sidebar">
                    <section>

                        <h2>Revista: edições</h2>
                        <div class="divider"><span></span></div>

                        <p>Filtre por data:</p>

                    </section>
                    <nav id="subnav">
                        <ul id="filter">
                            <li><a href="?datad=" class="current">TODOS</a>
                                <?php
                                $filtros = DocumentosModel::me()->getFiltroDatas();
                                $helper = $this->helper->formatar();
                                foreach ($filtros as $f) {
                                    $data = explode('-', $f->data_d);
                                    ?><li><a href="?datad=<?php echo $f->data_d; ?>">
                                        <?php echo $helper->getMesNome($data[0]); ?> / <?php echo $data[1]; ?>
                                    </a></li>
                            <?php } ?>
                        </ul>
                        <div class="littleShadow"></div>
                    </nav>


                </aside>

                <div class="span9">
                    <div class="row">
                        <div class="portfolio-items revista-items isotopeWrapper clearfix da-thumbs" id="3">
                            <?php if (count($revistas)) { ?>
                                <?php
                                foreach ($revistas as $row) {
                                    $data_arr = explode('-', $row->data);
                                    ?>
                                    <article class="span3 isotopeItem  boxWrapper">
                                        <a href="<?php echo $row->url; ?>" target="_blank" title="<?php echo $row->title; ?>">
                                            <section>
                                                <img alt="<?php echo $row->title; ?>" width="122" height="172" src="<?php echo $row->image_big; ?>" />
                                            </section>
                                            <div>
                                                <span class="iconWrapper iconLink"><i class="icon-search"></i></span> 
                                            </div>
                                        </a>
                                        <section class="projectInfo"><h3><?php echo $helper->getMesNome($data_arr[1]) . '/' . $data_arr[0]; ?></h3></section>
                                    </article>
                                <?php } ?>
                                <div class="span12">
                                    <?php echo $this->pgr; ?>
                                </div>
                            <?php } else { ?>
                                <i>Em breve...</i>
                            <?php } ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page content -->