<section id="content" class="home">
<?php 
$this->class_content_section = $this->menu_active = 'home';
//------------------------------
$modelArea = AreasModel::me();
$helperIMG = $this->helper->imagem();
?>
	<!-- three blocs -->
	<section class="slice"> 
	<?php
	$areaNot = $modelArea->findByPermalink('noticias');
	$noticias = $areaNot->paginas('paginas.data DESC,paginas.id DESC','AND paginas.status=1',10);
	?>
		<div class="container">

			<div class="row">
				<section class="span12 clearfix">
					<h2>Últimas notícias</h2>
					<div class="divider"><span></span></div> 
					<?php if(count($noticias)): ?>
					<div class=" row team1">
						<?php $i=0;
						foreach($noticias as $not){ 
							if($i<3){
								$data = ($not->data) ? $not->data : $not->cadastro;
								$data = $this->helper->formatar($data)->data();
								$data = str_replace('/', ' . ', $data);
								$url = ($not->permalink) ? getBaseUrl($not->permalink) : getBaseUrl('paginas/index/id/'.$not->id);
								if($not->capa){
									$helperIMG->setFile($not->capa);
									$capa = getBaseUrl($helperIMG->crop(180,176));
								}else{
									$capa = getSkinUrl('images/blank.jpg');
								}
							?>
						<div class="span3">

							<article>
								<header class="imgRounded">
									<a href="<?php echo $url;?>" title="<?php echo $not->titulo;?>">
										<img src="<?php echo $capa;?>" alt="" width="180" height="176"/>
									</a>
								</header>
								<div class="teamTitle">
									<h2><span><?php echo $data;?></span><?php echo $not->titulo;?></h2>
								</div>
								<footer> <a href="<?php echo $url;?>">Leia mais</a></footer>
							</article>
						</div>
						<?php }$i++;
						}
						$i=0;
						if(count($noticias)>3){
						?>
						<div class="span3 other-news<?php echo (count($noticias)>7) ? ' autoCarouselVertical' : '';?>" style="height: 354px;overflow: hidden;">
							<ul>
								<?php 
								foreach($noticias as $not){ 
									$data = ($not->data) ? $not->data : $not->cadastro;
									$data = $this->helper->formatar($data)->data();
									$data = str_replace('/', ' . ', $data);
									$url = ($not->permalink) ? getBaseUrl($not->permalink) : getBaseUrl('paginas/index/id/'.$not->id);
									if($i>=3){
								?>
								<li class="teamTitle">
									<h2><a href="<?php echo $url;?>" title="<?php echo $not->titulo;?>">
										<span><?php echo $data;?></span><?php echo $not->titulo;?></a></h2>
								</li>
								<?php 
									}
									$i++;
								} ?>
							</ul>
						</div>
						<?php } ?>
					</div>
					<?php else:?>
					<i>Em breve..</i>
					<?php endif;?>
				</section>
			</div>
		</div>
	</section> 
<!-- three blocs -->

<?php
$areaFoto = $modelArea->findByPermalink('fotos');
$albuns = $areaFoto->paginas('paginas.data DESC,paginas.id DESC','AND paginas.status=1',2);

//revistas
$revistas = DocumentosModel::me()->recentes(4);
$helper_f = $this->helper->formatar();
?>
<?php if(count($revistas)){ ?>
<section class="slice">
    <div class="container">
        <div class="span11 area-revistas">

            <h2><span>Revista: </span>últimas edições</h2>
            <div class="divider"><span></span></div>  
            <div class="container">
                <div class="row-fluid callToActionBoxed ">
                <div class=" callToActionBoxed ">
                    <div class="list-item">
                <?php foreach($revistas as $i => $r){ 
                    $data_arr = explode('-',$r->data);
                    ?>
                    <?php if($i === 0){ ?>
                    <div class="first-item">
                        <a href="<?php echo $r->url;?>" target="_blank" title="<?php echo $r->title;?>">
                        <img src="<?php echo $r->image_big;?>" width="236" height="330" alt="capa<?php echo $i;?>" /></a>
                        <p><?php echo $helper_f->getMesNome($data_arr[1]).'/'.$data_arr[0];?></p>
                    </div>
                    <?php }else{ ?>
                    <div class="item">
                        <a href="<?php echo $r->url;?>" target="_blank" title="<?php echo $r->title;?>">
                        <img src="<?php echo $r->image_big;?>" width="136" height="192" alt="capa<?php echo $i;?>" /></a>
                        <p><?php echo $helper_f->getMesNome($data_arr[1]).'/'.$data_arr[0];?></p>
                    </div>
                    <?php } ?>
                <?php } ?>
                    </div>
                    <div class="more">
                        <a href="<?php echo getBaseUrl('revista');?>">VER TODAS</a>
                    </div>
                    <div class="clearfix"></div>
                </div>


            </div>
        </div>
    </div>
    
</section>
<?php } ?>

<!-- Main Quote -->
	<section class="slice">

		<div class="container">
			<div class="row-fluid callToActionBoxed ">
				<div class="span7">
					<div class="ctaText">
						<h3>Junte-se a nós!</h3>
						<p><strong><?php echo raw(ConfigsModel::getValor('cad_texto_home'));?></strong></p>
						<a class="btn btn-mini btn-danger" href="<?php echo getBaseUrl('quem-somos#apoios-cadastrados');?>">Veja quem apóia!</a>
					</div>
				</div>
				<div class="span5"> 
					<div class="btnWrapper">
						<a href="<?php echo getBaseUrl('cadastre-se');?>" class="iconBtn" title=""><i class=" icon-pencil"></i>Registre seu apoio</a> 
					</div>
				</div>


			</div>
		</div>
	</section>
<!-- Main Quote -->


	<!-- carousel works-->
	<section class="slice mb15">

		<div class="container">
			<div class="span6">

				<div class="">
					<h2><span>Últimas </span>fotos</h2>
					<div class="divider"><span></span></div>  
				</div>
				<div class="">
					<?php if(count($albuns)){ ?>
					<div id="projectCarousel" class="carousel slide">

						<div class="carousel-inner da-thumbs">

							<div class="active item">
								<div class="row">
									<?php foreach($albuns as $a){ 
										//$helperIMG->setFile($b->imagem);
										$fotos = $a->midias();

										?>
									<div  class="span3" >
										<article>
											<?php
											$i=0;
											foreach($fotos as $f){ 
												$helperIMG->setFile($f->caminho);
												?>
											<?php if($i==0){?>
											<a href="<?php echo $helperIMG->resize(1000);?>" class="prettyPhoto" rel="prettyPhoto[g<?php echo $a->id;?>]">
												<section>
													<img alt="" src="<?php echo $helperIMG->resize(220);?>" title="<?php echo $f->titulo;?>" />
												</section>
												<div>
													<span class="iconWrapper iconLink"><i class="icon-search"></i></span> 
												</div>
											</a>
											<section class="projectInfo"><h3><?php echo $a->titulo;?></h3><p><?php echo cropText($a->descricao,100);?></p></section>
											<?php }else{ ?>
											<a href="<?php echo $helperIMG->resize(1000);?>" class="prettyPhoto" rel="prettyPhoto[g<?php echo $a->id;?>]"></a>
											<?php }
											$i++; ?>
										<?php } ?>
										</article> 
									</div>
									<?php } ?>
								</div>
							</div>

						</div><!--
						<a class="left carousel-control" href="#projectCarousel" data-slide="prev"><i class="icon-left-circle"></i></a>
						<a class="right carousel-control" href="#projectCarousel" data-slide="next"><i class="icon-right-circle"></i></a>
	-->
					</div>
					<?php }else{ ?>
					<i>Em breve...</i>
					<?php } ?>
				</div>
			</div>


			<div class="span5 pull-right">
				<div class="">
					<h2><span>Assista aos nossos </span>vídeos!</h2>
					<div class="divider"><span></span></div>  
				</div>
				<?php $videoHome = VideosModel::me()->recentes(1);?>
				<?php if($videoHome->url){
					$videoHome->getIframe("100%","260");
				}else{ ?> <i>Em breve...</i> <?php } ?>
			</div>
            
            

		</div>
	</section>
	<!-- carousel works-->

<?php //------------------------------
ob_start();?>
	<!-- slider -->
	<section>
		<div id="fullWidthSliderWrapper">

			<div class="camera_wrap">
				<?php 
				$banners = BannersModel::todosPorChave('principal');
				$banner_tipos = BannerTiposModel::me()->findByChave('principal');
				$wT = $banner_tipos->largura;
				$hT = $banner_tipos->altura;
				foreach($banners as $b){
					$helperIMG->setFile($b->imagem);
                    $link = $b->url ? 'data-link="'.$b->url.'"' : '';
                    $link .= ($b->target && $b->target != '_self') ? 'data-target="'.$b->target.'"' : '';
				?>
				<div data-src="<?php echo $helperIMG->landscape($wT);?>" data-thumb="<?php echo $helperIMG->crop(100,80,false);?>" <?php echo $link;?>></div>
				<?php } ?>
			</div>    

		</div>
	</section>
	<!-- slider -->
<?php 
$this->slider = ob_get_clean();
?>
</section><?php 
ob_start();
?><script type="text/javascript" src="<?php echo getBaseUrl('lib/jquery/jcarousel-lite.js');?>"></script>
<script type="text/javascript">
$(".autoCarouselVertical").jCarouselLite({
    auto: 3000,
    speed: 800,
	visible: 4,
	vertical: true
});
</script>
<?php $this->content_script = ob_get_clean(); 
