<?php
$PG = $this->pagina;
$helperIMG = $this->helper->imagem();
?>
<!-- title -->
<header class="headerPage">
	<div class="container clearfix"><?php $this->menu_active = 'noticias'; ?>
		<div class="row">
			<div class="" id="navTrail"> 
				<a href="<?php echo getBaseUrl(''); ?>" class="homeLink">home</a><span>/</span>
				<a href="<?php echo getBaseUrl('noticias'); ?>">Notícias</a><span>/</span>
				<span class="current"><?php echo $PG->titulo; ?></span>  
			</div>
		</div>

	</div>
</header>  
<!-- title -->
<section id="content" class="fullWidth">


	<div class="slice clearfix">
		<div class="container">
			<div class="row">
				<div class="span8">
					<article>

						<div class="clearfix">

							<header class="catPost">
								<h2><?php echo $PG->titulo; ?></h2> 
								<!-- AddThis Button BEGIN -->
										<div class="addthis_toolbox addthis_default_style ">
										<a class="addthis_button_preferred_1"></a>
										<a class="addthis_button_preferred_2"></a>
										<a class="addthis_button_preferred_3"></a>
										<a class="addthis_button_preferred_4"></a>
										<a class="addthis_button_compact"></a>
										<a class="addthis_counter addthis_bubble_style"></a>
										</div>
										<script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5179e94e6988647b"></script>
										<!-- AddThis Button END -->
								<?php $data = ($PG->data) ? $PG->data : first(explode(' ', $PG->cadastro)); ?>
								<ul class="entry-meta">
									<li class="entry-date"><i class="icon-clock"></i>postada em <?php echo $this->helper->formatar($data)->data(); ?></li>
									
								</ul>
								
							</header>
							<section>
								<?php if($PG->capa){
									$helperIMG->setFile($PG->capa);
									$capa = $helperIMG->landscape(620);
									?><p>
									<img src="<?php echo getBaseUrl($capa); ?>" alt="<?php echo $PG->titulo; ?>" />
								</p><?php
								}?>
								<?php echo $PG->conteudo; ?>

								<div id="shareme" data-text="Check out this great #themeforest item 'OHMY! HTML5, CSS3, Bootstrap website template">
								</div>

							</section>
						</div>

						<?php echo $this->partial('paginas/comentarios',true,null,array('PG'=>$PG,'area'=>$this->area));?>

					</article>
				</div>

				<!-- Sidebar -->
				<aside class="span3 pull-right">

					<section class="widget">
						<h3>Outras Notícias</h3>
						<div class="divider"><span></span></div>
						<ul><?php $area = $this->area;?>
							<?php foreach($area->paginas('paginas.data DESC,paginas.id DESC','AND paginas.status=1',10) as $pag){ ?>
							<li><a href="<?php echo $pag->getURl();?>"><?php echo $pag->titulo;?></a></li>
							<?php } ?>
						</ul>
					</section>

				</aside>
				<!-- Sidebar -->



			</div>
		</div>
	</div>


</section>
<!-- page content -->