<?php 
$PG = $this->pagina;
?>
<!-- title -->
<header class="headerPage">
	<div class="container clearfix"><?php $this->menu_active = 'quem-somos'; ?>
		<div class="row">
			<div class="" id="navTrail"> 
				<a href="<?php echo getBaseUrl(''); ?>" class="homeLink">home</a><span>/</span><span class="current"><?php echo $PG->titulo; ?></span>  
			</div>
		</div>

	</div>
</header>  
<!-- title -->
<section id="content" class="fullWidth">


	<div class="slice clearfix">
		<div class="container">
			<div class="row">
				<section class="span12 clearfix">

					<h2><?php echo $PG->titulo; ?></h2>
					<div class="divider"><span></span></div>  
					<?php echo $PG->conteudo;?>

				</section>

				<section class="span12 mb15 clearfix">

					<blockquote>Você ainda não se cadastrou? Junte-se a nós! 
						<a href="<?php echo getBaseUrl('cadastre-se');?>" class="btn btn-danger pull-right " title="Junte-se a nós!"><i class=" icon-pencil"></i>REGISTRE SEU APOIO AGORA</a> 
					</blockquote>

				</section>
				<section id="Ftable" class="slice ">
					<div class="span12">
						<h2 id="apoios-cadastrados">Veja quem apóia:</h2>
						<div class="divider"><span></span></div>  
						<table class="table table-striped ">
							<thead>
								<tr>
									<th>#</th>
									<th>Nome</th>
									<th>Cidade</th>
									<th>Estado</th>
								</tr>
							</thead>
							<?php $registrados = InscricoesModel::me()->all('cadastro ASC');?>
							<tbody>
								<?php 
								if(count($registrados)){ 
                                    $aux=array();$i=1;
									foreach($registrados as $reg){
                                        $aux["$i"] = $reg;
                                        $i++;
                                    }
                                    $aux = array_reverse($aux,true);
                                    foreach($aux as $i => $reg){
									?>
								<tr>
									<td><?php echo (string)$i;?></td>
									<td><?php echo $reg->nome;?></td>
									<td><?php echo $reg->cidade;?></td>
									<td><?php echo $reg->estado;?></td>
								</tr><?php } ?>
								<?php }else{ ?>
								<tr>
									<td>Seja o(a) primeiro(a)!</td>
								</tr>
								<?php } ?>
							</tbody>
						</table>

					</div>
				</section>


			</div>
		</div>
	</div>


</section>
<!-- page content -->