<?php
$videos = $this->rows;
$helperIMG = $this->helper->imagem();
?>
<!-- title -->
<header class="headerPage">
	<div class="container clearfix"><?php $this->menu_active = 'videos'; ?>
		<div class="row">
			<div class="" id="navTrail"> 
				<a href="<?php echo getBaseUrl(''); ?>" class="homeLink">home</a><span>/</span><span class="current">Vídeos</span>  
			</div>
		</div>

	</div>
</header> 
<!-- title -->
<section id="content" class="blogHomeContent slice blog">


	<div class="slice clearfix">
		<div class="container">
			<div class="row">
				<aside class="span3" id="sidebar">
					<section>

						<h2>Galeria de Vídeos</h2>
						<div class="divider"><span></span></div>

						<p>Filtre por data:</p>

					</section>
					<nav id="subnav">
						<ul id="filter">
							<li><a href="?datav=" class="current">TODOS</a>
							<?php $filtros = VideosModel::me()->getFiltroDatas();
							$helper = $this->helper->formatar();
							foreach($filtros as $f){
								$data = explode('-',$f->data_v);
							?><li><a href="?datav=<?php echo $f->data_v;?>">
									<?php echo $helper->getMesNome($data[0]);?> / <?php echo $data[1];?>
								</a></li>
							<?php } ?>
						</ul>
						<div class="littleShadow"></div>
					</nav>


				</aside>

				<div class="span9">
					<div class="row">
						<div class="portfolio-items isotopeWrapper clearfix da-thumbs" id="3">
						<?php if(count($videos)){ ?>
							<?php 
								foreach($videos as $video){ ?>
							<article class="span3 isotopeItem boxWrapper">
								<a href="<?php echo $video->url;?>" class="prettyPhoto" rel="prettyPhoto[g<?php echo $video->id;?>]">
									<section>
										<img alt="<?php echo $video->titulo;?>" width="220" height="180" src="<?php echo $video->getThumb();?>" />
									</section>
									<div>
										<span class="iconWrapper iconLink"><i class="icon-search"></i></span> 
									</div>
								</a>
								<section class="projectInfo"><h3><?php echo $video->titulo;?></h3></section>
							</article>
							<?php  } ?>
							<div class="span12">
							<?php echo $this->pgr;?>
							</div>
						<?php }else{ ?>
						<i>Em breve...</i>
						<?php } ?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- page content -->