<div class="container">
	<div class="row">
		<div class="pull-left">
			<p>Copyright &copy; <?php echo date('Y');?> OBSERVATORIO DO ANALISTA| Todos os direitos reservados.</p>
		</div>

		<div class="pull-right">                     
			<ul class="socialNetwork nav">
				<?php if($url = ConfigsModel::getValor('rp_facebook')){?>
				<li><a href="<?php echo $url;?>" class="icon-facebook socialIcon tips"  title="Siga-nos no Facebook"><span>facebook</span></a></li>
				<?php }elseif($url = ConfigsModel::getValor('rp_twitter')){?>
				<li><a href="<?php echo $url;?>" class="icon-twitter-bird socialIcon tips"  title="Siga-nos no Twitter"><span>twitter</span></a></li>
				<?php }elseif($url = ConfigsModel::getValor('rp_google')){?>
				<li><a href="<?php echo $url;?>" class="icon-gplus socialIcon tips"  title="Siga-nos no Google +"><span>google +</span></a></li>
				<?php }elseif($url = ConfigsModel::getValor('rp_instagram')){?>
				<li><a href="<?php echo $url;?>" class="icon-instagram socialIcon tips"  title="Siga-nos no Instagram"><span>instagram</span></a></li>
				<?php }elseif($url = ConfigsModel::getValor('rp_linkedin')){?>
				<li><a href="<?php echo $url;?>" class="icon-linkedin socialIcon tips"  title="Siga-nos no Linkedin"><span>linkedin</span></a></li>
				<?php }elseif($url = ConfigsModel::getValor('rp_pinterest')){?>
				<li><a href="<?php echo $url;?>" class="icon-pinterest-circled socialIcon tips"  title="Siga-nos no Pinterest"><span>Pinterest</span></a></li>
				<?php } ?>
			</ul>
		</div>
	</div>
</div>