<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">

			<a href="<?php echo getBaseUrl('');?>" class="brand"><img src="<?php echo getSkinUrl('images/main-logo.png');?>" alt="<?php echo ConfigsModel::getValor('seo_title');?>"/></a>


			<nav id="mainMenu" class="clearfix">
				<ul>
					<li><a href="<?php echo getBaseUrl('');?>" class="firstLevel<?php echo ($this->menu_active=='home')?' active':'';?>" >Home</a></li>

					<li><a href="<?php echo getBaseUrl('quem-somos');?>" class="firstLevel<?php echo ($this->menu_active=='quem-somos')?' active':'';?>">Quem somos</a></li>

					<li><a href="<?php echo getBaseUrl('noticias');?>" class="firstLevel<?php echo ($this->menu_active=='noticias')?' active':'';?>">Notícias</a></li>

					<li><a href="<?php echo getBaseUrl('fotos');?>" class="firstLevel<?php echo ($this->menu_active=='fotos')?' active':'';?>">Fotos</a></li>

					<li><a href="<?php echo getBaseUrl('videos');?>" class="firstLevel<?php echo ($this->menu_active=='videos')?' active':'';?>">Vídeos</a></li>

					<li><a href="<?php echo getBaseUrl('cadastre-se');?>" class="firstLevel<?php echo ($this->menu_active=='cadastre-se')?' active':'';?>">Cadastre-se</a></li>

					<li><a href="<?php echo getBaseUrl('contato');?>" class="firstLevel<?php echo ($this->menu_active=='contato')?' active':'';?>">Contato</a></li>



				</ul>
			</nav>

		</div>
	</div>
</div>