<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <a href="<?php echo getBaseUrl(''); ?>" class="brand"><img src="<?php echo getSkinUrl('images/main-logo.png'); ?>" alt="<?php echo ConfigsModel::getValor('seo_title'); ?>"/></a>


            <nav id="mainMenu" class="clearfix">

                <ul>
                    <li><a href="<?php echo getBaseUrl(''); ?>" class="firstLevel<?php echo ($this->menu_active == 'home') ? ' active' : ''; ?>" >Home</a></li>

                    <li><a href="<?php echo getBaseUrl('quem-somos'); ?>" class="firstLevel<?php echo ($this->menu_active == 'quem-somos') ? ' active' : ''; ?>">Quem somos</a></li>

                    <li><a href="<?php echo getBaseUrl('noticias'); ?>" class="firstLevel<?php echo ($this->menu_active == 'noticias') ? ' active' : ''; ?>">Notícias</a></li>

                    <li><a href="<?php echo getBaseUrl('fotos'); ?>" class="firstLevel<?php echo ($this->menu_active == 'fotos') ? ' active' : ''; ?>">Fotos</a></li>

                    <li><a href="<?php echo getBaseUrl('videos'); ?>" class="firstLevel<?php echo ($this->menu_active == 'videos') ? ' active' : ''; ?>">Vídeos</a></li>
                    
                    <li><a href="<?php echo getBaseUrl('revista'); ?>" class="firstLevel<?php echo ($this->menu_active == 'revista') ? ' active' : ''; ?>">Revista</a></li>
                    
                    <li><a href="<?php echo getBaseUrl('cadastre-se'); ?>" class="firstLevel<?php echo ($this->menu_active == 'cadastre-se') ? ' active' : ''; ?>">Cadastre-se</a></li>

                    <li><a href="<?php echo getBaseUrl('contato'); ?>" class="firstLevel<?php echo ($this->menu_active == 'contato') ? ' active' : ''; ?>">Contato</a></li>



                </ul>

            </nav>
            <div class="busca">
                <i class="icon-search"></i>
            </div>
        </div>
    </div>
    <div class="busca-wrapper">
        <div class="container">
            <form action="<?php echo getBaseUrl('index/buscar'); ?>" method="get">
                <input placeholder="O que você deseja encontrar?" type="text" class="busca-input" name="q" value="<?php echo $_GET['q']; ?>" />
                <button class="btn btn-default" title="Buscar"><i class="icon-search"></i> Buscar</button>
            </form>
            <div class="busca">
                <i class="icon-cancel"></i>
            </div>
        </div>

    </div>
</div>

