<?php
$form = new Cylix_Form('', 'post', 'form', Cylix_Form::ENCTYPE_MULTIPART);
$name = $form->string('titulo', (is_string($this->reg->titulo)) ? $this->reg->titulo : $this->request->getParam('titulo'));
$form->label('Título', $name);
$name = $form->string('url', (is_string($this->reg->url)) ? $this->reg->url : $this->request->getParam('url'), false);
$form->label('URL', $name);
$name = $form->select('target', (is_string($this->reg->target)) ? $this->reg->target : $this->request->getParam('target'), array('_self' => 'Mesma Janela', '_blank' => 'Nova Janela'), false);
$form->label('Abrir a URL em', $name);
$name = $form->radio('status', (is_string($this->reg->status)) ? $this->reg->status : (int) $this->request->getParam('status'), array('Bloqueado', 'Publicado'));
$form->label('Status', $name);
$name = $form->int('ordem', (is_string($this->reg->ordem)) ? $this->reg->ordem : $this->request->getParam('ordem'), false);
$form->label('Ordem', $name);
$name = $form->image('imagem', (is_string($this->reg->imagem)) ? $this->reg->imagem : null, $params['img']);
$form->label('Imagem'.(($params['img'])?' *':''), $name);
$form->submit('s', 'Salvar');
$form->button('c', 'Voltar', 'button', null, array('onclick' => "window.location = '" . getBaseUrl($this->_permalink . '/' . $this->_ctrl . '/index/banner-tipos/'.$this->tipo->id) . "';"));
echo $form->ini();
?>
<fieldset>
    <legend>Cadastro</legend>
    <div class="bloco">
        <?php echo $form->get('status'); ?>
    </div>
    <div class="bloco">
        <?php echo $form->get('titulo'); ?>
    </div>
    <div class="bloco">
        <?php echo $form->get('imagem'); ?>
    </div>
    <div class="bloco">
        <?php echo $form->get('url'); ?>
    </div>
    <div class="bloco">
        <?php echo $form->get('target'); ?>
    </div>
    <div class="bloco">
        <?php echo $form->get('ordem'); ?>
    </div>
</fieldset>
<div class="bloco">
    <?php echo $form->get('c'); ?>
    <?php echo $form->get('s'); ?>
</div>
<?php echo $form->end();?>