<?php
$tema = ($this->logado->editor == 'basico') ? Cylix_Form::CKEDITOR_BASICO : Cylix_Form::CKEDITOR_ADMIN;
//construindo
$form = new Cylix_Form('', 'post', 'form', Cylix_Form::ENCTYPE_MULTIPART);
//lembrar de depois montar de acordo com o $this->area->contexto
$name = $form->string('titulo', (is_string($this->reg->titulo)) ? $this->reg->titulo : $this->request->getParam('titulo'));
$form->label('Título', $name);
$name = $form->html('conteudo', (is_string($this->reg->conteudo)) ? $this->reg->conteudo : $this->request->getParam('conteudo'), false, $tema);
$form->label('Conteúdo', $name);
$form->hidden('areas_id', (is_string($this->reg->areas_id)) ? $this->reg->areas_id : $this->request->getParam('area'));
$name = $form->radio('status', (is_string($this->reg->status)) ? $this->reg->status : (int)$this->request->getParam('status'), array('Bloqueado', 'Publicado'));
$form->label('Status', $name);
$form->hidden('cadastro', (is_string($this->reg->cadastro)) ? $this->reg->cadastro : date('Y-m-d H:i:s'));
$name = $form->string('seo_title', (is_string($this->reg->seo_title))?$this->reg->seo_title:$this->request->getParam('seo_title'), false,0,200);
$form->label('Título (SEO)', $name);
$name = $form->text('seo_keywords', (is_string($this->reg->seo_keywords))?$this->reg->seo_keywords:$this->request->getParam('seo_keywords'), false);
$form->label('Palavras-chave (SEO Keywords)', $name);
$name = $form->string('permalink', (is_string($this->reg->permalink)) ? $this->reg->permalink : $this->request->getParam('permalink'), false);
$form->label('Link direto (Permalink)', $name);
if($this->area->contexto != 'geral'){
$name = $form->text('descricao', (is_string($this->reg->descricao)) ? $this->reg->descricao : $this->request->getParam('descricao'), false);
$form->label('Descrição/Resumo', $name);
$name = $form->int('ordem', (is_string($this->reg->ordem)) ? $this->reg->ordem : $this->request->getParam('ordem'), false);
$form->label('Ordem', $name);
$name = $form->image('capa', (is_string($this->reg->capa)) ? $this->reg->capa : $this->request->getParam('capa'), false);
$form->label("Capa", $name);
$name = $form->date('data', (is_string($this->reg->data)) ? $this->reg->data : $this->request->getParam('data'), false);
$form->label("Data", $name);
}
//------
$form->submit('s', 'Salvar');
$form->button('c', 'Voltar', 'button', null, array('onclick' => "window.location = '" . getBaseUrl($this->_permalink . '/' . $this->_ctrl.'/index/area/'.$this->request->getParam('area')) . "';"));
//formulario
echo $form->ini();
echo $form->get('areas_id');
echo $form->get('cadastro');
?>
<fieldset>
    <legend>Formulário</legend>
    <div class="bloco">
        <?php echo $form->get('status'); ?>
    </div>
    <div class="bloco">
        <?php echo $form->get('titulo'); ?>
    </div>
    <?php if($e = $form->get('permalink')): ?>
    <div class="bloco">
        <?php echo $e; ?>
        <input type="hidden" name="autolink" value="0" />
        <label><input type="checkbox" name="autolink" value="1"<?php echo (is_string($this->reg->permalink) && strlen($this->reg->permalink) > 2)?'':' checked="checked"';?> />Gerar automaticamente</label>
    </div>
    <?php endif; ?>
    <?php if($e = $form->get('capa')): ?>
    <div class="bloco">
        <?php echo $e; ?>
    </div>
    <?php endif; ?>
    <?php if($e = $form->get('data')): ?>
    <div class="bloco">
        <?php echo $e; ?>
    </div>
    <?php endif; ?>
    <?php if($e = $form->get('descricao')): ?>
    <div class="bloco">
        <?php echo $e; ?>
    </div>
    <?php endif; ?>
    <?php if($e = $form->get('conteudo')): ?>
    <div class="bloco">
        <?php echo $e; ?>
    </div>
    <?php endif; ?>
    <?php if($e = $form->get('ordem')): ?>
    <div class="bloco">
        <?php echo $e; ?>
    </div>
    <?php endif; ?>
    <?php if($e = $form->get('seo_title')): ?>
    <div class="bloco">
        <?php echo $e; ?>
    </div>
    <?php endif; ?>
    <?php if($e = $form->get('seo_keywords')): ?>
    <div class="bloco">
        <?php echo $e; ?>
    </div>
    <?php endif;?>
</fieldset>
<div class="bloco">
    <?php echo $form->get('c'); ?>
    <?php echo $form->get('s'); ?>
</div>
<?php echo $form->end(); ?>