<?php
$rows = $this->rows;
$nav = $this->helper->navegacao();
?>
<div class="janela">
    <div class="barra-titulo">Moderadores</div>
    <?php echo $this->getAlert($this->_ctrl);?>
    <div class="janela-interior">
        <?php if($nav->permissao($this->_ctrl,'novo')): ?>
        <div class="botoes-janela">
            <?php $nav->acoesGrid($this->_ctrl,'novo'); ?>
        </div>
        <?php endif; ?>
        <div class="listagem">
            <table width="100%" cellspacing="0" class="tabela">
                <thead>
                    <tr>
                        <th width="10">Status</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th width="102">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <?php echo $this->helper->html($rows)->semRegistro();
                    foreach($rows as $row): ?>
                    <tr>
                        <td class="status-col status-<?php echo $row->status;?>" title="<?php echo ($row->status=='1') ? 'Ativado' : 'Desativato';?>"><?php echo $row->status;?></td>
                        <td><?php echo $row->nome;?></td>
                        <td><?php echo $row->email;?></td>
                        <td class="acoes">
                            <?php $nav->acoesGrid($this->_ctrl,'editar','id/'.$row->id); ?>
                            <?php $nav->acoesGrid($this->_ctrl,'deletar','id/'.$row->id); ?>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>