<div class="janela">
    <div class="barra-titulo">Novo Moderador</div>
    <?php echo $this->getAlert($this->_ctrl);?>
    <div class="formulario">
        <?php echo $this->form->ini(); ?>
        <fieldset>
            <legend>Cadastro</legend>
            <?php echo $this->partial('partes/form-cad');?>
        </fieldset>
        <div id="area-permissoes"<?php echo ($this->pIs_root=='1')?' style="display: none;"':'';?>>
            <?php echo $this->partial('partes/form-perm'); ?>
        </div>
        <div class="bloco">
            <?php echo $this->form->get('s'); ?>
        </div>
        <?php echo $this->form->end(); ?>
    </div>
</div>
<script type="text/javascript">
    $j('.is-root .grupo-radio .input-radio').click(function(){
        if($j(this).val() != 1){
            //aparece as acls
            $j("#area-permissoes").stop().slideDown(150);
        }else{
            //oculta acls
            $j("#area-permissoes").stop().slideUp(150);
        }
    });
</script>