<?php
$form = new Cylix_Form('');
$form->password('atual', true, 5, 20);
$form->password('senha', true, 5, 20);
$form->password('conf', true, 5, 20);
$form->submit('s', 'Alterar');
?>
<div class="janela">
    <div class="barra-titulo">Alterar Senha</div>
    <?php echo $this->getAlert($this->_ctrl);?>
    <div class="formulario">
        <?php echo $form->ini(); ?>
        <fieldset>
            <legend>Alteração</legend>
            <div class="bloco">
                <?php echo $form->label('Senha atual');?>
                <?php echo $form->get('atual'); ?>
            </div>
            <div class="bloco">
                <?php echo $form->label('Nova senha');?>
                <?php echo $form->get('senha'); ?>
            </div>
            <div class="bloco">
                <?php echo $form->label('Confirmar');?>
                <?php echo $form->get('conf'); ?>
            </div>
        </fieldset>
        <div class="bloco">
            <?php echo $form->get('s'); ?>
        </div>
        <?php echo $form->end(); ?>
    </div>
</div>