// Those states not specified will inherit.
// Mixin to an anchor link like so:
// a
// +link-colors(#00c, #0cc, #c0c, #ccc, #cc0)

@mixin link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false) {
    color: $normal;
    @if $visited != false {
        &:visited {
            color: $visited; 
        } 
    }
    @if $focus != false {
        &:focus {
            color: $focus; 
            
        } 
    }
    @if $hover != false {
        &:hover {
            color: $hover; 
        } 
    }
    @if $active != false {
        &:active {
            color: $active; 
        } 
    }
}